.comandos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.comando {
  min-width: 355px;
  max-width: 390px;
}

a.is-disabled {
  pointer-events: none;         /* Evita clics */
  color: #bbb !important;       /* Color apagado */
  background-color: #f5f5f5;    /* Fondo claro opcional */
  cursor: not-allowed;          /* Cursor de prohibido */
  text-decoration: none;        /* Sin subrayado */
  opacity: 0.6;                 /* Más apagado visualmente */
}

.consola {
  background-color: #dedede;
  padding: 3px;
  font-size: 0.85em;
}

.consola.is-loading {
  background-color: transparent;
  height: 21px;
  border: none;
}

/* Contenedor principal del Grid */
.info-grid-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  row-gap: 1rem;   /* Espacio vertical entre cada fila (par etiqueta-valor) */
  column-gap: 1rem;  /* Espacio horizontal entre la etiqueta y el valor */
}

.field-label {
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

.field-value {
  white-space: nowrap;
  text-align: center;
}
