<div class="box fondo" style="height: 100%;">
  <div class="hitem mb-5">
    <span (click)="irAtras()" class="icon button mt-1"><i class="fas fa-arrow-left"></i></span>
    <div class="title">
      <h1>Lista de Comandos</h1>
    </div>
  </div>
  <div class="hbox mb-4">
    <div class="vbox" style="gap: 0px!important;">
      <span class="label" style="font-size: 1.25em; margin-bottom: 0px;">{{nombreTerminal}}</span>
      <em style="color: gray">{{ipTerminal}}</em>
    </div>
    <div class="etiqueta mt-2">
      @if(true) {
      <div class="circle" style="background-color: {{getColor('Verde')}}; border: 1px #999 solid;"></div>
      } @else {
      <div class="circle" style="background-color: {{getColor('Guindo')}}; border: 1px #999 solid;"></div>
      }
    </div>
  </div>
  <div class="comandos animate__animated animate__fadeIn" id="comandos">
    <div class="card comando">
      <header class="card-header">
        <p class="card-header-title">Conexión</p>
        <button class="card-header-icon" aria-label="more options">
      <span class="icon icon-cmd">
        <i class="fas fa-network-wired" aria-hidden="true"></i>
      </span>
        </button>
      </header>
      <div class="card-content">
        <div class="content">
          Comando para probar la conexión a la red del dispositivo
        </div>
      </div>
      <div style="text-align: center" class="mb-1">
        <i id="ic_conectar" class="fas fa-terminal has-text-primary consola"></i>
      </div>
      <footer class="card-footer">
        <a (click)="conectar()" class="card-footer-item" [class.is-disabled]="esConectar"
           [style.pointerEvents]="esConectar ? 'none' : 'auto'">Probar Conexión</a>
      </footer>
    </div>

    <div class="card comando">
      <header class="card-header">
        <p class="card-header-title">Capacidad y Espacio</p>
        <button class="card-header-icon" aria-label="more options">
      <span class="icon icon-cmd">
        <i class="fas fa-database "></i>
      </span>
        </button>
      </header>
      <div class="card-content">
        <div class="content">
          Comando para obtener información acerca de capacidad y espacio del dispositivo
        </div>
      </div>
      <div style="text-align: center" class="mb-1">
        <i id="ic_info_cap" class="fas fa-terminal has-text-primary consola"></i>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" (click)="infoCapacidad()" [class.is-disabled]="esInfoCapacidad"
           [style.pointerEvents]="esInfoCapacidad ? 'none' : 'auto'">Obtener Información</a>
      </footer>
    </div>
    <div class="card comando">
      <header class="card-header">
        <p class="card-header-title">Información Extra</p>
        <button class="card-header-icon" aria-label="more options">
      <span class="icon icon-cmd">
        <i class="fas fa-info-circle"></i>
      </span>
        </button>
      </header>
      <div class="card-content">
        <div class="content">
          Comando para obtener información extra y version de firmware del dispositivo
        </div>
      </div>
      <div style="text-align: center" class="mb-1">
        <i id="ic_info_extra" class="fas fa-terminal has-text-primary consola"></i>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" (click)="infoExtra()" [class.is-disabled]="esInfoExtra"
           [style.pointerEvents]="esInfoExtra ? 'none' : 'auto'">Obtener Información</a>
      </footer>
    </div>

    <div class="card comando">
      <header class="card-header">
        <p class="card-header-title">Fecha y Hora</p>
        <button class="card-header-icon" aria-label="more options">
      <span class="icon icon-cmd">
        <i class="fas fa-clock"></i>
      </span>
        </button>
      </header>
      <div class="card-content">
        <div class="content">
          Comandos para obtener, modificar la fecha y hora del dispositivo
        </div>
      </div>
      <div style="text-align: center" class="mb-1">
        <i id="ic_hora_actual" class="fas fa-terminal has-text-primary consola"></i>
      </div>
      <footer class="card-footer">
        <a (click)="horaActual()" class="card-footer-item" [class.is-disabled]="esHoraActual"
           [style.pointerEvents]="esHoraActual ? 'none' : 'auto'">Obtener Fecha</a>
        <div class="hitem" >
          <a (click)="sincronizarfecha()" class="card-footer-item has-text-warning">
            Sincronizar Fecha
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <i class="fas fa-exclamation-triangle pl-1"></i>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content popup" style="background: linear-gradient(360deg, #fcfaf7 0%, #fdf7e7 100%); border: 1px #f4d27b solid;">
                  <div class="contenido" style='color: #786450;'>
                    <span style="font-weight: normal">
                      <span class="semibold">Operacion sensible:</span> sincroniza la fecha/hora del dispositivo con la fecha/hora actual del servidor:
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </footer>
    </div>

    <div class="card comando">
      <header class="card-header">
        <p class="card-header-title">Registros de Asistencia</p>
        <button class="card-header-icon" aria-label="more options">
      <span class="icon icon-cmd">
        <i class="fas fa-hand-pointer"></i>
      </span>
        </button>
      </header>
      <div class="card-content">
        <div class="content">
          Comando para limpiar todos los registros de marcaciones del dispositivo
        </div>
      </div>
      <div style="text-align: center" class="mb-1">
        <i id="ic_borrar_marcaciones" class="fas fa-terminal has-text-primary consola"></i>
      </div>
      <footer class="card-footer">
        <a (click)="mostrarBorradoModal()"  class="card-footer-item has-text-danger" [class.desactivado]="!isSuperadmin">
          Borrar Registros de Asistencia
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <i class="fas fa-exclamation-triangle pl-1"></i>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content popup" style="background: linear-gradient(360deg, #fcfaf7 0%, #fdf7e7 100%); border: 1px #f4d27b solid;">
                <div class="contenido" style='color: #786450;'>
                  <span style="font-weight: normal">
                    <span class="semibold">Operacion crítica:</span> borra todos los registros de marcaciones del dispositivo.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </footer>
    </div>
    <div class="card comando">
      <header class="card-header">
        <p class="card-header-title">Mantenimiento</p>
        <button class="card-header-icon" aria-label="more options">
      <span class="icon icon-cmd">
        <i class="fas fa-tools"></i>
      </span>
        </button>
      </header>
      <div class="card-content">
        <div class="content">
          Comandos para operaciones de mantenimiento del dispositivo
        </div>
      </div>
      <div style="text-align: center" class="mb-1">
        <i id="ic_mantenimiento" class="fas fa-terminal has-text-primary consola"></i>
      </div>
      <footer class="card-footer">
        <a (click)="mostrarApagadoModal()"  class="card-footer-item" [class.desactivado]="!isSuperadmin">Apagar</a>
        <a (click)="mostrarReinicioModal()"  class="card-footer-item" [class.desactivado]="!isSuperadmin">Reiniciar</a>
      </footer>
    </div>
  </div>

  <div class="modal" id="info_capacidad_modal">
    <div class="modal-background" id="fondo_cap" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 375px;">
      <header class="modal-card-head">
        <p class="modal-card-title">Capacidad y Espacio</p>
        <button class="delete" (click)="ocultarInfoCapacidad()"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <div class="info-grid-container">
            <div class="field-value semibold" style="text-align: left">Dato</div>
            <div class="field-value semibold">Cantidad</div>
            <div class="field-value semibold">Cap. Máxima</div>
            <div class="field-value" style="text-align: left">Usuarios</div>
            <div class="field-value">{{jsonInfoCapacidad?.users}}</div>
            <div class="field-value">{{jsonInfoCapacidad?.users_cap}}</div>
            <div class="field-value" style="text-align: left">Huellas</div>
            <div class="field-value">{{jsonInfoCapacidad?.fingers}}</div>
            <div class="field-value">{{jsonInfoCapacidad?.fingers_cap}}</div>
            <div class="field-value" style="text-align: left">Marcaciones</div>
            <div class="field-value">{{jsonInfoCapacidad?.records}}</div>
            <div class="field-value">{{jsonInfoCapacidad?.records_cap}}</div>
            <div class="field-value" style="text-align: left">Rostros</div>
            <div class="field-value">{{jsonInfoCapacidad?.faces}}</div>
            <div class="field-value">{{jsonInfoCapacidad?.faces_cap}}</div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
  </div>

  <div class="modal" id="info_extra_modal">
    <div class="modal-background" id="fondo_extra" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 650px;">
      <header class="modal-card-head">
        <p class="modal-card-title">Información Extra</p>
        <button class="delete" (click)="ocultarInfoExtra()"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <div class="columns">
            <div class="column is-flex is-flex-direction-column" style="gap: 1rem;">
              <div>
                <span class="has-text-weight-semibold">Versión de Firmware:</span>
                <span class="ml-2" id="firmware">{{jsonInfoExtra?.firmware_version}}</span>
              </div>
              <div>
                <span class="has-text-weight-semibold">Número de Serie:</span>
                <span class="ml-2" id="serial">{{jsonInfoExtra?.serial_number}}</span>
              </div>
              <div>
                <span class="has-text-weight-semibold">Plataforma:</span>
                <span class="ml-2" id="platform">{{jsonInfoExtra?.platform}}</span>
              </div>
              <div>
                <span class="has-text-weight-semibold">Nombre del Dispositivo:</span>
                <span class="ml-2" id="device_name">{{jsonInfoExtra?.device_name}}</span>
              </div>
              <div>
                <span class="has-text-weight-semibold">Versión de Face:</span>
                <span class="ml-2" id="face_version">{{jsonInfoExtra?.face_version}}</span>
              </div>
              <div>
                <span class="has-text-weight-semibold">Versión de Huella:</span>
                <span class="ml-2" id="fp_version">{{jsonInfoExtra?.fp_version}}</span>
              </div>
              <div>
                <span class="has-text-weight-semibold">Formato Extendido:</span>
                <span class="ml-2" id="extend_fmt">{{jsonInfoExtra?.extend_format}}</span>
              </div>
              <div>
                <span class="has-text-weight-semibold">Formato Usuario Extendido:</span>
                <span class="ml-2" id="user_extend_fmt">{{jsonInfoExtra?.user_extend_format}}</span>
              </div>
            </div>
            <div class="column is-flex is-flex-direction-column" style="gap: 1rem;">
              <div>
                <span class="has-text-weight-semibold">Función Facial Activada:</span>
                <span class="ml-2" id="face_fun_on">{{jsonInfoExtra?.face_function_on}}</span>
              </div>
              <div>
                <span class="has-text-weight-semibold">Compatibilidad Firmware Antiguo:</span>
                <span class="ml-2" id="compat_old_fw">{{jsonInfoExtra?.compat_old_firmware}}</span>
              </div>
              <div>
                <span class="has-text-weight-semibold">Parámetros de Red:</span>
                <div class="vbox">
                  <div class="hitem" >
                    <span class="semibold" style='color: #786450;'>Dirección IP:</span>{{jsonInfoExtra?.network_parameters.ip}}
                  </div>
                  <div class="hitem">
                    <span class="semibold" style='color: #786450;'>Máscara de red:</span>{{jsonInfoExtra?.network_parameters.mask}}
                  </div>
                  <div class="hitem">
                    <span class="semibold" style='color: #786450;'>Puerta de enlace:</span>{{jsonInfoExtra?.network_parameters.gateway}}
                  </div>
                </div>
              </div>
              <div>
                <span class="has-text-weight-semibold">Dirección MAC:</span>
                <span class="ml-2" id="mac">{{jsonInfoExtra?.mac_address}}</span>
              </div>
              <div>
                <span class="has-text-weight-semibold">Ancho del PIN:</span>
                <span class="ml-2" id="pin_width">{{jsonInfoExtra?.pin_width}}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
  </div>

  <div class="modal " id="hora_actual_modal">
    <div class="modal-background" id="fondo_hora" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 400px">
      <header class="modal-card-head">
        <p class="modal-card-title">Fecha y hora del dispositivo</p>
        <button (click)="ocultarHoraActual()" class="delete" aria-label="close" ></button>
      </header>
      <section class="modal-card-body">
        <div class="hitem" style="justify-content: center">
          <i class="far fa-clock ml-2 mt-2" style="font-size: 1.4em; "></i>
          <label class="label is-large">{{jsonHoraActual}}</label>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="hitem" style="">
          <span class="help semibold">Fecha en el servidor:</span>
          <span class="help">{{jsonHoraServidor}}</span>
        </div>
      </footer>
    </div>
  </div>
  <div class="modal " id="confirmar_borrado_modal">
    <div class="modal-background" id="fondo_borrar_marcaciones" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 400px">
      <header class="modal-card-head">
        <p class="modal-card-title">Eliminar marcaciones</p>
        <button class="delete" aria-label="close" (click) = "ocultarBorradoModal()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">¿Esta seguro en realizar la acción?</label>
        <div class="hitem">
          <label class="b-checkbox checkbox" style="justify-content: center">
            <input type="checkbox" [formControl]="fc_confirmado">
            <span class="check"></span>
          </label>
          <span>Se borrarán todas las marcaciones del biométrico, antes se realiza una sincronización con la base de datos</span>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button es-primario" (click)="sincronizarTerminal()" [disabled]="!fc_confirmado.value">Aceptar</button>
          <button class="button" type="button" (click) = "ocultarBorradoModal()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
  <div id="loader" class="loader-backdrop is-hidden">
    <div class="loader-box">
      <div class="spinner">
      </div>
      <p class="loader-text mt-2" id="texto_espera">Texto de espera ...</p>
    </div>
  </div>
  <div class="modal " id="confirmar_apagado_modal">
    <div class="modal-background" id="fondo_apagago" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 400px">
      <header class="modal-card-head">
        <p class="modal-card-title">Apagar biométrico</p>
        <button class="delete" aria-label="close" (click)="ocultarApagadoModal()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">¿Esta seguro en realizar la acción?</label>
        <span>
          Se apagará el biométrico y solo podrá encenderse manualmente en su ubicación.
          Debes sincronizar la hora al encender nuevamente.
        </span>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button es-primario" (click)="apagar()">Aceptar</button>
          <button class="button" type="button" (click)="ocultarApagadoModal()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
  <div class="modal " id="confirmar_reinicio_modal">
    <div class="modal-background" id="fondo_reinicio" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 400px">
      <header class="modal-card-head">
        <p class="modal-card-title">Reinicar biométrico</p>
        <button class="delete" aria-label="close" (click)="ocultarReinicioModal()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">¿Esta seguro en realizar la acción?</label>
        <span>
          Se reinicará el biométrico. Debes esperar entre 20 a 45 segundos y probar la conexión nuevamente.
        </span>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button es-primario" (click)="reiniciar()">Aceptar</button>
          <button class="button" type="button" (click)="ocultarReinicioModal()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
</div>
