
  <div class="columns principal">
    <div class="column is-one-quarter sidebar">
      <nav class="navbar mb-5" role="navigation" style="background-color: #295a8c;" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item logo">
                <img src="../../../assets/gams.svg">
            </a>
        </div>
      </nav>
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li class="animation"><a routerLink="/terminales">Ver Terminales</a></li>
          <li class="animation"><a>Turnos</a></li>
        </ul>
        <p class="menu-label">
          Administración
        </p>
        <ul class="menu-list">
          
        </ul>
      </aside>
    </div>
    
    <div class="column">
      <router-outlet></router-outlet>
    </div>
  </div>