<div class="columns principal">
  <div class="column is-one-fifth sidebar hidden-print" style="padding: 0px;position: sticky; top: 0px;">
    <div class="cabecera">
      <div class="logo">
        <img src="../../../assets/gams.svg" style="width: 80%;">
      </div>
    </div>
    <div class="menu">
      <ul>
        <li id="primer_item" class="item" routerLink="ver-terminales">
          <i class="fas fa-th"></i>Ver Terminales
        </li>
        <li class="item" routerLink="horarios">
          <i class="fas fa-clock"></i>Horarios
        </li>
        <li class="item" routerLink="asuetos">
          <i class="fas fa-gift"></i>Feriados y Licencias
        </li>
        <li class="item" routerLink="adm-terminales">
          <i class="fas fa-fax"></i>Adm. de Terminales
        </li>
        <div id="action" class=""></div>
      </ul>
    </div>
  </div>

  <div id="main" class="column" style="background-color: #E9EFEE;padding: 15px;">
    <router-outlet></router-outlet>
  </div>
</div>
