
  <div class="columns principal">
    <div class="column is-one-quarter sidebar">
      <nav class="navbar mb-5" role="navigation" style="background-color: #295a8c;" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item logo">
                <img src="../../../assets/gams.svg">
            </a>
        </div>
      </nav>
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list" style="padding: 10px;display: flex;flex-direction: column;gap: 4px;" >
          <li class="animation"><a routerLink="/ver-terminales" style="background-color: transparent !important;  border-radius: 10px;
  border: 1px solid #295a8c; color: #295a8c;">Ver Terminales</a></li>
          <li class="animation"><a routerLink="/horarios" style="background-color: transparent !important;  border-radius: 10px;
  border: 1px solid #295a8c; color: #295a8c;">Horarios</a></li>
        </ul>
        <p class="menu-label">
          Administración
        </p>
        <ul class="menu-list" style="padding: 10px;">
          <li class="animation"><a routerLink="/adm-terminales" style="background-color: transparent !important;  border-radius: 10px;
  border: 1px solid #295a8c; color: #295a8c;">Terminales</a></li>
        </ul>
      </aside>
    </div>

    <div class="column" style="background-color: #F7F6F3;padding: 15px;">
      <router-outlet></router-outlet>
    </div>
  </div>
