.stick {
  position: sticky !important;
  top: 0;
  z-index: 1;
}

.seleccionado {
  background-color: #e0f7fa!important;
  color: black !important;
}

.button.toggle {
  border-radius: 5px;
  background-color: #F2F2F2 !important;
}

.button.seleccionado {
  border: 1px solid #e8d1b6 !important;
  background: linear-gradient(360deg, #ece4db 0%, #e8d1b6 100%);
  box-shadow: 0 0 5px rgba(50, 115, 220, 0.35);
  transform: scale(1.03);
}

.button.toggle:hover {
  color: black !important;
  border: 1px solid #e8d1b6 !important;
}

.button.toggle:focus {
  color: black !important;
  border: 1px solid #e8d1b6 !important;
  box-shadow: none !important;
}

.b-radio.radio input[type=radio]:checked + .check.is-grey {
  border-color: #999;
  box-shadow: 0 0 0 0.2em rgba(153, 153, 153, 0.25) !important;
}

.b-radio.radio input[type=radio]:checked + .check.is-grey::before {
  background-color: #999; /* o el gris que desees */
}

label.b-radio.radio:hover .check.is-grey {
  border-color: #999 !important;
}

.dropdown-menu {
  min-width: auto !important;
}

.dropdown-item {
  font-size: 1em;
  padding: .375rem 0.5rem;
}

.dropdown-content {
  border: 1px #c2c0c0 solid;
}

.icon.has-text-danger {
  position: relative;
}

.icon.has-text-danger::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #ff4d4d;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.75);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(0.75);
    opacity: 0;
  }
}
