<div class="box hidden-print fondo" style="height: 100%;">
    <div class="hitem mb-5">
      <span (click)="irAtras()" class="icon button mt-1"><i class="fas fa-arrow-left"></i></span>
      <div class="title">
        <h1>Funcionarios en {{terminal?.nombre}}</h1>
      </div>
    </div>
  <div class="animate__animated animate__fadeIn">
    <div class="columns">
      <div class="column is-narrow" style="position: relative">
        <div class="hbox" style="align-items: flex-end;">
          <div class="vinput" style="min-width: 219.5px;">
            <div class="hitem">
              <label class="label" style="margin-bottom: 0px;">Buscar Funcionario </label>
              <span class="help" style="margin-left: auto; font-weight: bold">{{usuariosFiltrados.length}}</span>
            </div>
            <p class="control has-icons-right">
              <input id="tf_busqueda" (input)="filtrarPorTexto($event)" type="text" class="input" autocomplete="off" placeholder="Nombre o CI"/>
              <span class="icon is-right"><i class="fas fa-search"></i></span>
            </p>
          </div>
          @if(isAdmin) {
          <div class="vinput" style="gap: 0px !important;">
            <p class="help">Seleccionados: {{usuariosSeleccionados.length}}</p>
            <div class="hitem">
              <button class="button amarillo" (click)="asignarHorario()"
                [ngClass]="{ 'desactivado': estadoEsEliminado }"
                style="background-color: {{getColor('Amarillo')}}; border-radius: 5px">
                <span class="icon"><i class="fas fa-user-clock"></i></span>
                <span>Asignar Horario</span>
              </button>
              <button class="button naranja" (click)="seleccionarRango()"
                [ngClass]="{ 'desactivado': estadoEsEliminado }"
                style="background-color: {{getColor('Naranja')}}; border-radius: 5px;">
                <span class="icon"><i class="fas fa-file-alt"></i></span>
                <span>Reporte general</span>
              </button>
              <button class="button crema" (click)="modalAsignarGrupo()"
                [ngClass]="{ 'desactivado': estadoEsEliminado }"
                style="background-color: {{getColor('Crema')}}; border-radius: 5px;">
                <span class="icon has-tooltip-arrow expand" data-tooltip="Asignar Grupo"><i class="fas fa-users"></i></span>
              </button>
            </div>
          </div>
          <div class="hitem" style="margin-left: auto">
            <div class="vinput" style="gap: 0px !important;">
              <p class='help is-info has-text-weight-semibold' id="ult_sync">{{getUltSincronizacion()}}</p>
              <button id="btn_sincronizar" (click)="sincronizar()" class="button es-primario"
                      style="border-radius: 5px;">
                <span class="icon"><i class="fas fa-sync"></i></span>
                <span>Sincronizar</span>
                @if(terminal?.tieneConexion) {
                <div class="circle ml-2" style="background-color: {{getColor('Verde')}}; border: 1px #999 solid;"></div>
                } @else {
                <div class="circle ml-2" style="background-color: {{getColor('Guindo')}}; border: 1px #999 solid;"></div>
                }
              </button>
            </div>
          </div>
          }
        </div>
        <table class="table is-bordered is-hoverable"
               [class.table-loading]="isCargando" [class.table-overlay]="isCargando">
          <tr class="stick">
            @if(isAdmin) {
            <th style="min-width: 46.5px;">
              <label class="b-checkbox checkbox">
                <input id="cb_todos" type="checkbox" (change)="aplicarTodos($event)">
                <span class="check is-dark"></span>
              </label>
            </th>
            }
            <th style="min-width: 47.2px;">#</th>
            <th style="min-width: 245px;">Nombre</th>
            <th style="min-width: 90px;">CI</th>
            <th style="position:relative;min-width: 132px;">
              Fecha de Alta
              <span class="badge is-bottom is-light">en Biométrico</span>
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <span>
                    <i class="far fa-question-circle" style="color: #888; background-color: {{getColor('Azul')}}"></i>
                  </span>
                </div>
                <div class="dropdown-menu" role="menu">
                  <div class="dropdown-content popup" style="background: linear-gradient(360deg, #fcfaf7 0%, #fdf7e7 100%); border: 1px #f4d27b solid;">
                    <div class="contenido" style='color: #786450;'>
                      <span style="font-weight: normal">
                        <span class='semibold'>Fecha de Alta:</span> fecha de la primera marcación del funcionario en biométrico.
                        <span class='semibold'>Fecha de Baja:</span> cuando un funcionario ya no marcarcá mas en el biometrico por baja en Organigram o por rotación.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th style="position: relative; text-align: center; min-width: 94px">
              Horario
              <span class="badge is-bottom is-light">Ultima Asignación</span>
            </th>
            <th>Estado</th>
            <th style="min-width: 96px;"></th>
          </tr>
          <tbody>
          @for (usuario of usuariosFiltrados; track trackByUsuario; let index = $index) {
          <tr (click)="selectRow(usuario.id)" [class.is-selected]="isSelected(usuario.id)">
            @if(isAdmin) {
            <td >
              <label class="b-checkbox checkbox">
                <input type="checkbox" [checked]="usuario.seleccionado" (click)="seleccionar(usuario)" [id]="'checkbox-' + usuario.id">
                <span class="check es-secundario"></span>
              </label>
            </td>
            }
            <td>{{index +1}}</td>
            <td style="position: relative">
              {{usuario.nombre}}
              @if(usuario.grupo) {
              <span class="badge is-bottom mb-1" style="line-height: 10px;
              background-color: {{getColor('Crema')}}; color: black">{{usuario.grupo.nombre}}</span>
              }
            </td>
            <td>{{usuario.ci}}</td>
            <td  style="position: relative; text-align: center;">
              {{getFechaAlta(usuario)}}
              @if(usuario.fechaBaja) {
              <span class="badge is-bottom mb-1" style="line-height: 10px; background-color: {{getColor('Rojo')}}; color: black">Baja {{getFechaBaja(usuario)}}</span>
              }
            </td>
            <td style="position: relative;">
              <div class="help has-text-centered mt-1">
                <div class="etiqueta" [ngStyle]="{ 'background-color': getColor(usuario.ultAsignacion === 'Sin Asignar' ? 'Gris' : 'Purpura') }">
                      {{ usuario.ultAsignacion }}
                </div>
              </div>
              <div *ngIf="usuario.ultAsignacion === 'Sin Asignar'" class="dropdown is-up is-hoverable"
                  style="position: absolute; bottom: -8.5px; left: 40%">
                <div class="dropdown-trigger">
                  <span>
                    <i class="far fa-question-circle"
                      style="color: #888;"
                      [ngStyle]="{ 'background-color': getColor('Azul') }"
                      (mouseenter)="hover(usuario)">
                    </i>
                  </span>
                </div>
                <div class="dropdown-menu" role="menu">
                  <div class="dropdown-content popup"
                       style="background: linear-gradient(360deg, #fcfaf7 0%, #fdf7e7 100%); border: 1px #f4d27b solid;">
                    <div id="ultMarcacion_{{ usuario.id }}" class="contenido" style="color: #786450;"></div>
                  </div>
                </div>
              </div>
            </td>
            <td><div [innerHtml]="usuario.estadoHtml"></div></td>
            <td>
              <div class="hitem">
                <span class="icon has-tooltip-arrow expand" data-tooltip="Reporte de Asistencia" (click)="verMarcaciones(usuario)">
                  <i class="fas fa-file-contract icon-btn" style="color: #3C6FA2;"></i>
                </span>
                <span class="icon has-tooltip-arrow expand" data-tooltip="Ver Horario" (click)="verHorario(usuario.id)">
                  <i class="far fa-calendar-alt icon-btn"></i>
                </span>
                @if(isAdmin) {
                <span class="icon has-tooltip-arrow expand" data-tooltip="Editar Funcionario" (click)="editarUsuario(usuario.id)"
                      [ngClass]="{ 'desactivado': estadoEsEliminado }">
                  <i class="far fa-edit icon-btn"></i>
                </span>
                }
          <div class="dropdown is-hoverable is-custom-right">
            <div class="dropdown-trigger">
              <span class="icon"><i class="fas fa-ellipsis-v icon-btn"></i></span>
            </div>
            <div class="dropdown-menu" id="" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item">
                  <span class="has-tooltip-arrow expand" data-tooltip="Ver Marcaciones">
                    <i class="far fa-hand-pointer icon-btn"></i>
                  </span>
                </a>
                <a class="dropdown-item">
                  <span class="icon has-tooltip-arrow expand ml-1" data-tooltip="Info Organigrama"
                    style="padding: 1px"
                    (click)="modalInfoOrganigram(usuario.ci)">
                    <img src="assets/organigram.png" class="img-btn">
                  </span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </td>
    </tr>
          }
          </tbody>
        </table>
        @if(isCargando) {
        <div class="spinner-center">
          <button class="button is-size-1 is-loading is-white is-medium"
                  style="border: none; background-color: transparent; ">Cargando
          </button>
        </div>
        }
      </div>
      <div class="column is-narrow">
        <div class="vbox card mt-1 p-4" style="padding: 5px 0px; background-color: transparent">
          <div class="vinput" style="height: auto;">
            <label class="label" style="margin-bottom: 0px;">Filtrar por:</label>
            <div class="hitem" (click)="quitarFiltros()" >
              <span class="mt-1">Quitar filtros</span>
              <i class="far fa-times-circle icon-btn" style="color: red;"></i>
            </div>
          </div>
          <div class="estados mt-3">
            <label class="label">Estados</label>
            <div class="field">
              <label class="b-radio radio">
                <input id="rb_activo" type="radio" name="estados" value="1" (click)="filtrarPorEstado($event)">
                <span class="check is-success"></span>
                <span class="control-label">Activo</span>
              </label>
            </div>
            <div class="field">
              <label class="b-radio radio" >
                <input id="rb_inactivo" type="radio" name="estados" value="0" (click)="filtrarPorEstado($event)">
                <span class="check is-grey" ></span>
                <span class="control-label">Inactivo</span>
              </label>
            </div>
            <div class="field">
              <label class="b-radio radio">
                <input id="rb_eliminado" type="radio" name="estados" value="2" (click)="filtrarPorEstado($event)">
                <span class="check is-danger"></span>
                <span class="control-label">Eliminado</span>
              </label>
            </div>
          </div>
          <div class="grupos mt-3">
            <div class="hitem">
              <label class="label">Grupos</label>
              <i class="fas fa-plus-circle icon-btn"
                 style="color: gray; margin-top: -5px"
                 (click)="modalAccionGrupo(null)">
              </i>
            </div>
            <div class="buttons is-flex is-flex-direction-column" style="gap: 3px; align-items: flex-start">
              @for (grupo of terminal?.grupos; track grupo) {
              <div class="hitem" id="grupo_{{grupo.id}}">
                <button
                    class="button toggle" (click)="filtrarPorGrupo(grupo.id)"
                    [class.seleccionado]="isSelectedGroup(grupo.id)">{{grupo.nombre}}
                </button>
                <div class="dropdown is-hoverable is-custom-right" style="margin-top: 6.5px;">
                  <div class="dropdown-trigger">
                    <i class="fas fa-ellipsis-v icon-btn" style="color: gray; max-width: 26px; font-size: 1.1em"></i>
                  </div>
                  <div class="dropdown-menu" role="menu">
                    <div class="vitem card" style="width: 35px; padding: 5px;">
                        <i class="fas fa-pencil-alt icon-btn"
                          style="color: #299acc; max-width: 26px"
                          (click)="modalAccionGrupo(grupo)">
                        </i>
                        <i class="far fa-trash-alt icon-btn"
                        style="color: #de4543; max-width: 26px"
                        (click)="modalEliminarGrupo(grupo)">
                        </i>
                    </div>
                  </div>
                </div>
              </div>
              } @empty {
              <p class="has-text-grey">No hay grupos</p>
              }
              @if(terminal?.grupos.length > 0) {
              <div class="hitem" id="grupo_0">
                <button
                      class="button toggle" (click)="filtrarPorGrupo(0)"
                      [class.seleccionado]="isSelectedGroup(0)">Sin Grupo
                </button>
              </div>
              }
            </div>
          </div>
          <div class="vitem sticker" *ngIf="showScrollButton" style="gap: 3px;">
            @if(isAdmin) {
            <button title="Asignar Horario" class="button" (click)="asignarHorario()"
                    style="background-color: {{getColor('Amarillo')}}; border-radius: 5px">
              <span class="icon"><i class="fas fa-user-clock"></i></span>
            </button>
            <button title="Reporte General" class="button" (click)="seleccionarRango()"
                    style="background-color: {{getColor('Naranja')}}; border-radius: 5px;">
              <span class="icon"><i class="fas fa-file-alt"></i></span>
            </button>
            }
            <button title="Subir" class="scroll-to-top" (click)="scrollToTop()">
              <span class="icon is-right"><i class="fas fa-arrow-up"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="reporte_modal">
    <div class="modal-background" id="background" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 500px; height: 470px;">
      <header class="modal-card-head">
        <p class="modal-card-title">Reporte General</p>
        <button class="delete" aria-label="close" (click)="ocultarSeleccionarRango()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">Por favor selecciona un rango de fechas para el reporte</label>
        <input id="picker_reporte" class="input" style="min-width: 210px;display: none;"/>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button id="btn_ver_reporte" disabled class="button es-primario"  (click)="verReporte()">Aceptar</button>
          <button class="button" type="button" (click)="ocultarSeleccionarRango()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
  <div id="loader" class="loader-backdrop is-hidden">
    <div class="loader-box">
      <div class="spinner">
      </div>
      <p class="loader-text mt-2">Generando reporte ...</p>
    </div>
  </div>
  <div class="modal" id="grupo_modal">
    <div class="modal-background" id="fondo_grupo" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 300px;">
      <header class="modal-card-head">
        <p class="modal-card-title" id="titulo_grupo">"Accion Grupo"</p>
        <button class="delete" aria-label="close" (click)="ocultarAccionGrupo()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">Nombre</label>
        <div class="control mb-4">
          <input id="nombre_grupo" class="input" autocomplete="off" style="min-width: 210px;"/>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button id="" class="button es-primario" (click)="aplicarAccionGrupo()">Aceptar</button>
          <button class="button" type="button" (click)="ocultarAccionGrupo()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
  <div class="modal " id="eliminar_modal">
    <div class="modal-background" id="fondo_eliminar" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 350px">
      <header class="modal-card-head">
        <p class="modal-card-title">Eliminar Grupo</p>
        <button class="delete" aria-label="close" (click)="ocultarEliminarGrupo()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">¿Esta seguro que quiere borrar el Grupo?</label>
        <span></span>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button id="btn_eliminar" class="button es-primario" (click)="eliminarGrupo()">Aceptar</button>
          <button class="button" type="button" (click)="ocultarEliminarGrupo()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
  <div class="modal" id="asignar_grupo">
    <div class="modal-background" id="fondo_asignar" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 300px;">
      <header class="modal-card-head">
        <p class="modal-card-title">Asignar Grupo</p>
        <button class="delete" aria-label="close" (click)="ocultarAsignarGrupo()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">Selecciona un grupo de la lista</label>
        <div class="select">
          <select id="select_grupos" style="min-width: 200px" [disabled]="fc_confirmado.value">
            @for (grupo of terminal?.grupos; track grupo) {
            <option value={{grupo.id}}>{{grupo.nombre}}</option>
            }
          </select>
        </div>
        <div class="field mt-5">
          <label class="b-checkbox checkbox">
            <input type="checkbox" [formControl]="fc_confirmado">
            <span class="check is-success"></span>
            <div class="hitem control-label" style="justify-content: center">
              <span>Limpiar grupo</span>
              <i class="fas fa-eraser" style="color: #f17f7d; align-self: "></i>
            </div>
          </label>
          <p class='help is-info'>* Limpia el grupo de los usuarios seleccionados</p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button id="" class="button es-primario" (click)="asignarGrupo()">Aceptar</button>
          <button class="button" type="button" (click)="ocultarAsignarGrupo()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
  <div class="modal" id="organigram_modal">
    <div class="modal-background" (click)="ocultarInfoOrganigram()" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 350px;">
      <header class="modal-card-head has-background-primary-light">
        <p class="modal-card-title">Organigrama</p>
        <button class="delete" aria-label="close" (click)="ocultarInfoOrganigram()"></button>
      </header>
      <section class="modal-card-body" style="background: linear-gradient(360deg, #f7fbfa 65%, #49a09d 100%);">
        <div class="has-text-centered mb-2 mt-2">
        <span class="icon" style="font-size: 3.5em">
          <i class="fas fa-user-circle"></i>
        </span>
          <div class="vitem">
            <h2 class="label title is-5 mt-4 ">INGRID SANDRA PANIAGUA GONZALES</h2>
            <h4 style='color: #786450;' class="semibold">AUXILIAR II ARCHIVOS DE RECURSOS HUMANOS</h4>
            <p class="mt-2">
              Secretaría Municipal De Finanzas Y Administración
            </p>
          </div>
        </div>
        <div class="content" style="font-size: 0.9em">
          <ul>
            <li><span class="semibold" style='color: #786450;'>Tipo de contrato:</span> ‘Item’</li>
            <li><span class="semibold" style='color: #786450;'>Salario:</span> 14 - Percibe el haber básico de 3435 Bs.</li>
            <li><span class="semibold" style='color: #786450;'>Ingreso al cargo:</span> 9 de enero de 2025</li>
            <li><span class="semibold" style='color: #786450;'>Fin de contrato:</span> 1 de abril de 1993</li>
          </ul>
          <p class="has-text-grey mt-3">
            GAMS-SMFA/DRH/MD/091/2025
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
