.stick {
  position: sticky !important;
  top: 0;
  z-index: 1;
}

.seleccionado {
  background-color: #e0f7fa!important;
  color: black !important;
}

.button.toggle {
  border-radius: 5px;
  background-color: #F2F2F2 !important;
}

.button.seleccionado {
  border: 1px solid #e8d1b6 !important;
  background-color: #ECE4DB !important;
}

.button.toggle:hover {
  color: black !important;
  border: 1px solid #e8d1b6 !important;
}

.button.toggle:focus {
  color: black !important;
  border: 1px solid #e8d1b6 !important;
  box-shadow: none !important;
}

.b-radio.radio input[type=radio]:checked + .check.is-grey {
  border-color: #999;
  box-shadow: 0 0 0 0.2em rgba(153, 153, 153, 0.25) !important;
}

.b-radio.radio input[type=radio]:checked + .check.is-grey::before {
  background-color: #999; /* o el gris que desees */
}

label.b-radio.radio:hover .check.is-grey {
  border-color: #999 !important;
}

.dropdown-menu {
  min-width: auto !important;
}

.dropdown-item {
  font-size: 1em;
  padding: .375rem 0.5rem;
}

.dropdown-content {
  border: 1px #c2c0c0 solid;
}
