<div class="box hidden-print" style="height: 100%;">
  <div class="hitem mb-5">
    <span (click)="irAtras()" class="icon button mt-1"><i class="fas fa-arrow-left"></i></span>
    <div class="title">
      <h1>Funcionarios en {{terminal?.nombre}}</h1>
    </div>
  </div>
  <div class="animate__animated animate__fadeIn" >
    <div class="columns" >
      <div class="column is-narrow" >
        <div class="hbox" style="align-items: flex-end;">
          <div class="vinput">
            <div class="hitem">
              <label class="label" style="margin-bottom: 0px;">Buscar Funcionario </label>
              <span class="help" style="margin-left: auto; font-weight: bold">{{usuariosFiltrados.length}}</span>
            </div>
            <p class="control has-icons-right">
              <input id="tf_busqueda" (input)="applyFilter($event)" type="text" class="input" placeholder="Nombre o CI"/>
              <span class="icon is-right"><i class="fas fa-search"></i></span>
            </p>
          </div>
          <div class="vinput" style="gap: 0px !important;">
            <p class="help">Seleccionados: {{usuariosSeleccionados.length}}</p>
            <div class="hitem">
              <button class="button" (click)="asignarHorario()"
                style="background-color: {{getColor('Amarillo')}}; border-radius: 5px">
                <span class="icon"><i class="fas fa-user-clock"></i></span>
                <span>Asignar Horario</span>
              </button>
              <button class="button" (click)="verModalReporte()"
                style="background-color: {{getColor('Naranja')}}; border-radius: 5px;">
                <span class="icon"><i class="fas fa-file-alt"></i></span>
                <span>Reporte general</span>
              </button>
            </div>
          </div>
          <div class="hitem" style="margin-left: auto">
            <div class="vinput" style="gap: 0px !important;">
              <p class='help is-info' id="ult_sync">{{getUltSincronizacion()}}</p>
              <button id="btn_sincronizar" (click)="sincronizar()" class="button es-primario"
                      style="border-radius: 5px;">
                <span class="icon"><i class="fas fa-sync"></i></span>
                <span>Sincronizar</span>
              </button>
            </div>
          </div>
        </div>
        <table class="table is-bordered is-hoverable" >
          <tr>
            <th>
              <label class="b-checkbox checkbox">
                <input id="cb_todos" type="checkbox" (change)="aplicarTodos($event)">
                <span class="check is-dark"></span>
              </label>
            </th>
            <th>#</th>
            <th style="width: 250px;">Nombre</th>
            <th style="width: 100px;">CI</th>
            <th>Fecha de Alta</th>
            <th style="width: 75px;">Estado</th>
            <th></th>
          </tr>
          <tbody>
          @for (usuario of usuariosFiltrados; track usuario; let index = $index) {
          <tr>
              <td>
                  <label class="b-checkbox checkbox">
                    <input type="checkbox" [checked]="usuario.seleccionado" (change)="seleccionar(usuario)" value={{usuario.seleccionado}}>
                  <span class="check es-secundario"></span>
                </label>
            </td>
            <td>{{index +1}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.ci}}</td>
            <td>{{getFechaAlta(usuario)}}</td>
            <td>{{getEstado(usuario)}}</td>
            <td>
              <div class="hitem">
              <span class="icon has-tooltip-arrow" data-tooltip="Ver Marcaciones" routerLink="/ver-marcaciones/{{usuario.id}}">
                  <i class="far fa-calendar-check icon-btn"></i>
                </span>
                <span class="icon has-tooltip-arrow" data-tooltip="Ver Horario" (click)="verHorario(usuario.id)">
                  <i class="far fa-calendar-alt icon-btn"></i>
                </span>
                <span class="icon has-tooltip-arrow" data-tooltip="Editar" (click)="editarUsuario(usuario.id)">
                  <i class="far fa-edit icon-btn"></i>
                </span>
              </div>
          </td>
        </tr>
          }
          </tbody>
        </table>
      </div>
      <div class="column is-narrow">
        <div class="vbox mt-1" style="padding: 5px 0px">
          <div class="vinput" style="height: auto;">
            <label class="label" style="margin-bottom: 0px;">Filtrar por: </label>
            <div class="hitem" (click)="quitarFiltros()" >
              <span class="mt-1">Quitar filtros</span>
              <i class="far fa-times-circle icon-btn" style="color: red;"></i>
            </div>
          </div>
          <div class="estados mt-2">
            <label class="label">Estado </label>
            <div class="field">
              <label class="b-radio radio">
                <input id="rb_activo" type="radio" name="estados" value="1" (click)="filtrarUsuarios($event)">
                <span class="check is-success"></span>
                <span class="control-label">Activo</span>
              </label>
            </div>
            <div class="field">
              <label class="b-radio radio">
                <input type="radio" name="estados" value="0" (click)="filtrarUsuarios($event)">
                <span class="check is-danger"></span>
                <span class="control-label">Inactivo</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="reporte_modal">
    <div class="modal-background" id="background" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 500px; height: 470px;">
      <header class="modal-card-head">
        <p class="modal-card-title">Reporte General</p>
        <button class="delete" aria-label="close" (click)="ocultarModalReporte()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">Por favor selecciona un rango de fechas para el reporte</label>
        <input id="picker_reporte" class="input" style="min-width: 210px;display: none;"/>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button es-primario" >Aceptar</button>
          <button class="button" type="button" (click)="ocultarModalReporte()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
</div>
