.terminales {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.seleccionado {
  background-color: #e0f7fa!important;
  color: black !important;
}

.button.toggle {
  border-radius: 5px;
  background-color: #F2F2F2 !important;
}

.button.seleccionado {
  border: 1px solid #96e6ea !important;
  background-color: #e2fafd !important;
  box-shadow: none !important;
}

.button:hover {
  border: 1px solid #96e6ea  !important;
  background-color: #e2fafd !important;
}

.search-bar {
  display: flex;
  align-items: center;          /* centra verticalmente todo */
  justify-content: space-between;
  padding: 8px;
  background-color: #E9EFEE;
  border-radius: 8px;
  border: 1px solid #cad9d6;
  gap: 12px;
}

/* Zona izquierda */
.search-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;                      /* ocupa todo el espacio posible */
}

/* Input más ancho */
.search-input {
  flex: 1;
  max-width: 420px;             /* ajusta a gusto */
}

/* Campana fija a la derecha */
.notification-bell {
  width: 40px;
  height: 40px;
  background-color: #dcdcdc;    /* getColor('Gris') */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.notification-bell i {
  font-size: 18px;
}

.notificaciones-panel {
  position: absolute;
  top: 150px;
  right: 34px;
  width: 380px;
  z-index: 50;
}

.notificaciones-contenido {
  max-height: 350px;
  overflow-y: auto;
}

.notificaciones-contenido ul {
  margin-left: 1rem;
}

.tabs.is-toggle li.is-active a {
  background-color: #FFFCCC !important; /* Amarillo */
  border-color: #E6D96C !important;
  color: #333 !important;
  font-weight: 600;
}

.link-notificacion {
  color: #2FB9A5;
  font-weight: 500;
}

.link-notificacion:hover {
  text-decoration: underline;
  color: #1E9E8A;
}

div.vert-sep {
  width: 3px;
  height: 60px;
  background: rgba(100, 100, 100, 0.5);
}


