<div class="box fondo" style="height: 100%;">
  <div class="title">
    <h1>Lista de Terminales</h1>
  </div>
  <div class="search-bar">
    <div class="search-left">
      <span class="label mt-3">Búsqueda Global:</span>

      <div class="control has-icons-right search-input" style="margin-left: 13px; position: relative">
        <input id="tf_busqueda"
               type="text"
               class="input"
               autocomplete="off"
               placeholder="Nombre o CI"
               (input)="onBuscarGlobal($event)"
               (focus)="onFocusBusqueda()"
               (keydown.escape)="cerrarBusqueda()"/>
        <span class="icon is-right">
          <i class="fas fa-search"></i>
        </span>
        <div class="autocomplete-panel" *ngIf="mostrarResultadosBusqueda">
          <div *ngFor="let r of resultadosBusqueda"
               class="autocomplete-item"
               (click)="irAResultado(r)">
            <div class="hitem">
              <i class="fas fa-user mt-1 has-text-grey" style="font-size: 0.9em"></i>
              <div class="nombre">{{ r.nombre }}</div>
              <span class="has-text-grey-dark">{{ r.ci }}</span>
            </div>
            <div class="meta">
          <span class="estado" [ngClass]="getEstadoClass(r.estado)">
  {{ getEstadoLabel(r.estado) }}
</span>
              · {{ r.terminalNombre }}
            </div>
          </div>

          <div class="sin-resultados" *ngIf="resultadosBusqueda.length === 0">
            No se encontraron funcionarios
          </div>
        </div>
      </div>
    </div>

    <div class="notification-bell"
         [ngClass]="{ 'activo': mostrarNotificaciones }"
         (click)="toggleNotificaciones()">
      <i class="fas fa-bell"></i>
    </div>
  </div>
  <div class="hbox mt-3">
    <!--<input #buscador class="input" type="text" placeholder="Buscar terminal..." (input)="buscar(buscador.value)">-->
    <span class="label mt-2">Filtrar por categoria: </span>
    <div class="buttons is-centered mb-1" style="gap: 0px">
      @for(categoria of categorias; track categoria; let index = $index) {
      <button class="button toggle"  (click)="filtrarPorCategoria(index)" [class.seleccionado]="isSelected(index)">
        <div class="hitem">
          @if(isSelected(index)) {
          <i class="fas fa-check has-text-success" style="align-self: center;"></i>
          }
          <span>{{categoria}}</span>
        </div>
      </button>
      }
    </div>
  </div>
  @if(mostrarNotificaciones) {
  <div class="notificaciones-panel">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title" style="font-size: 20px;">
          Notificaciones
        </p>
      </header>
      <div class="tabs is-toggle is-fullwidth">
        <ul>
          <li [class.is-active]="semanaSeleccionada === 'actual'">
            <a (click)="semanaSeleccionada = 'actual'">Semana Actual</a>
          </li>
          <li [class.is-active]="semanaSeleccionada === 'anterior'">
            <a (click)="semanaSeleccionada = 'anterior'">Semana Anterior</a>
          </li>
        </ul>
      </div>
      <div class="card-content notificaciones-contenido" *ngIf="notificaciones" id="panel-notificaciones" #panelNotificaciones>
        @for (terminal of notificaciones[semanaSeleccionada === 'actual' ? 'semana_actual' : 'semana_anterior'].terminales; track terminal.id) {
        <div class="mb-3">
          <div class="hitem">
            <i class="fas fa-network-wired mt-1" style="font-size: 0.9em"></i>
            <strong>{{ terminal.nombre }}</strong>
            <span class="has-text-grey-dark">({{ terminal.totalNotificaciones }})</span>
          </div>
          <span class="help is-info" style="margin-top: 0px;">
            Evaluado hasta: {{ formatDate(terminal.fechaHastaEvaluada) }}
          </span>
          <ul class="mt-1">
            @for (usuario of terminal.usuarios; track usuario.id) {
            <li (click)="verMarcaciones(usuario, terminal, semanaSeleccionada)"
            [class.usuario-seleccionado]="usuario.id === usuarioSeleccionadoId">
              <div class="hitem">
                {{ usuario.nombre }} -
                <div class="vitem">
                @if (usuario.diasSinMarcacion > 0) {
                  <span>{{ usuario.diasSinMarcacion }} días sin marcar</span>
                }
                @if (usuario.diasSinAsignacion > 0) {
                  <span>{{ usuario.diasSinAsignacion }} días sin asignar</span>
                }
                </div>
              </div>
            </li>
            }
            <!-- solo visual, no funcional -->
            @if (terminal.totalNotificaciones > terminal.usuarios.length) {
            <li>
              <a class="is-size-8 link-notificacion">+{{ terminal.totalNotificaciones - terminal.usuarios.length }} más… Ver todas</a>
            </li>
            }
          </ul>
        </div>
        }
      </div>
      <footer class="card-footer">
        <div class="is-flex is-align-items-center">
  <div class="has-text-centered is-flex-grow-1">
    Generado el: 23/02/2026 11:22
  </div>

  <button class="button is-small is-light">
    <i class="fas fa-sync-alt"></i>
  </button>
</div>
      </footer>
    </div>
  </div>
  }
  <div class="terminales  animate__animated animate__fadeIn" id="terminales">
    @for (terminal of terminalesFiltrados; track terminal) {
    <app-terminal [terminal]="terminal"></app-terminal>
    }
  </div>
</div>
