.terminales {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.seleccionado {
  background-color: #e0f7fa!important;
  color: black !important;
}

.button.toggle {
  border-radius: 5px;
  background-color: #F2F2F2 !important;
}

.button.seleccionado {
  border: 1px solid #96e6ea !important;
  background-color: #e2fafd !important;
  box-shadow: none !important;
}

.button:hover {
  border: 1px solid #96e6ea  !important;
  background-color: #e2fafd !important;
}

.notification-bell {
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
}

.notification-bell .badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #ff3860;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.7rem;
}

.notificaciones-panel {
  position: absolute;
  top: 150px;
  right: 30px;
  width: 380px;
  z-index: 50;
}

.notificaciones-contenido {
  max-height: 350px;
  overflow-y: auto;
}

.notificaciones-contenido ul {
  margin-left: 1rem;
}

.tabs.is-toggle li.is-active a {
  background-color: #FFFCCC !important; /* Amarillo */
  border-color: #E6D96C !important;
  color: #333 !important;
  font-weight: 600;
}

.link-notificacion {
  color: #2FB9A5;
  font-weight: 500;
}

.link-notificacion:hover {
  text-decoration: underline;
  color: #1E9E8A;
}

div.vert-sep {
  width: 3px;
  height: 60px;
  background: rgba(100, 100, 100, 0.5);
}
