<div class="box" style="height: 100%;">
  <div class="title">
    <h1>Lista de Terminales</h1>
  </div>

  <div class="terminales  animate__animated animate__fadeIn" id="terminales">
    @for (terminal of terminales; track terminal) {
    <app-terminal [terminal]="terminal">
    </app-terminal>
    }
  </div>

    <div class="dropdown is-up is-hoverable">
      <div class="dropdown-trigger">
        <span>texto</span>
      </div>
      <div class="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <table class="table">
            <thead>
            <th>1</th>
            <th>2</th>
            </thead>
            <tbody>
            <tr>
              <td>dato1</td>
              <td>dato2</td>
            </tr>
            <tr>
              <td>dato1</td>
              <td>dato2</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
