<div class="modal-card" style="width: 400px;">
  <header class="modal-card-head">
    <p class="modal-card-title">Excepción Rango de Horas</p>
    <button class="delete" aria-label="close"></button>
  </header>

  <form [formGroup]="formAccion">
    <section class="modal-card-body">
      <div class="hitem" style="gap: 20px;">
        <div class="field">
          <label class="label">Fecha</label>
          <div class="control has-icons-right">
            <input class="input"/>
            <span class="icon is-right"><i class="fas fa-calendar-alt"></i></span>
          </div>
        </div>
        <div class="field" style="width: 185px;">
          <label class="label">Tipo de Licencia</label>
          <div class="select" style="width: 100%;">
            <select style="width: 100%;">
              <option>Vacacion</option>
              <option>Baja</option>
            </select>
          </div>
        </div>
      </div>
      <div class="hitem mt-4" style="justify-content: space-between">
        <div class="field is-horizontal">
          <label class="label mt-2">Hora Inicio:&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <div class="control">
            <input class="input" type="time"/>
          </div>
        </div>
        <div class="field is-horizontal">
          <label class="label mt-2">Hora Fin:&nbsp;&nbsp;</label>
          <div class="control">
            <input class="input" type="time">
          </div>
        </div>
      </div>

      <div class="hitem mt-4">
        <div class="field" style="width: 100%">
          <label class="label">Detalle</label>
          <div class="control">
            <textarea class="textarea" rows="2" formControlName="detalle" style="resize: none;"></textarea>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button es-primario" type="button" [disabled]="formAccion.invalid">
          Guardar
        </button>
        <button class="button" type="button">Cancelar</button>
      </div>
    </footer>
  </form>
</div>
