<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a routerLink="/terminales">Terminales</a></li>
        <li><a routerLink="/usuarios/{{ip}}/{{puerto}}">Usuarios</a></li>
        <li><a>Diario</a></li>
    </ul>
</nav>
<div style="box-sizing: border-box; width: fit-content;">
    <div class="hbox">
        <div class="hitem mt-2">
            <label class="label">CI:</label>
            <span>{{nombre}}</span>
        </div>
        <div class="hitem">
            <label class="label mt-2">Gestion:</label>
            <div class="select">
                <select>
                    <option>2024</option>
                </select>
            </div>
        </div>
        <div class="hitem">
            <label class="label mt-2">Mes:</label>
            <div class="select">
                <select>
                    @for (mes of meses; track mes; let index = $index) {
                    <option>{{mes}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="hitem" style="margin-left: auto;">
            <button class="button"><span class="icon"><i class="fas fa-print"></i></span></button>
            <button class="button"><span class="icon"><i class="fas fa-file-excel" style="color: rgb(16, 129, 16);"></i></span></button>
            <button class="button"><span class="icon"><i class="fas fa-file-pdf" style="color: rgb(190, 69, 69)"></i></span></button>
        </div>
    </div>
    <table class="table is-bordered is-hoverable animate__animated animate__fadeIn">
        <tr style="background-color: #d6e6f6;">
            <th></th>
            <th style="text-align: center;" colspan="2">
                <div style="font-size:1em; height:14px; vertical-align:middle;">Turno 1</div>
            </th>
            <th style="text-align: center;" colspan="2">
                <div style="font-size:1em; height:14px; vertical-align:middle;">Turno 2</div>
            </th>
            <th style="text-align: center;" colspan="2">
                <div style="font-size:1em; height:14px; vertical-align:middle;">
                    Atraso
                    <i class="fas fa-circle ml-1"
                style="color: orange;  border-radius: 50%; font-size: 0.8em;"></i>
                </div>
            </th>
            <th></th>
        </tr>
        <tr style="background-color: #d6e6f6;">
            <th>Dia</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th>Cant.</th>
        <th>Suma [min]</th>
        <th>Sin Marcar<i class="fas fa-circle ml-1"
                style="color: red; border-radius: 50%; font-size: 0.8em;"></i></th>
        </tr>
        @for (item of dias; track item; let i = $index ) {
            <tr>
            @for (dato of item; track dato; let j = $index ) {
                @if(j!== 0){
                    <td>{{dias[i][j]}}</td>
                }
                @else{
                    <th>{{dias[i][j]}}</th>
                }
            }
            </tr>
        }
    </table>
</div>