<div class="box fondo" style="height: 100%;">
  <div class="hitem mb-5">
    <span (click)="irAtras()" class="icon button mt-1"><i class="fas fa-arrow-left"></i></span>
    <div class="title">
      <h1>Registro de marcaciones</h1>
    </div>
  </div>
  <div class="columns animate__animated animate__fadeIn">
    <div class="column is-narrow" style="max-width: 180px;">
      <div class="info">
        <div class="vbox-centered">
          <div class="vinput mb-2" style="gap: 0px !important;">
            <label class="label" style="align-self: center">Prueba</label>
            <span class="help">Ult. Sincronización</span>
            <p class='help is-info' style="margin-top: 0px; font-weight: bold;">{{this.textUltSincronizacion}}</p>
          </div>
          <i class="fas fa-user-circle" style="font-size: 3em"></i>
          <span class="label has-text-centered" style="margin: 0">{{usuario.nombre}}</span>
          <span>{{usuario.ci}}</span>
        </div>
      </div>
      @if(rm?.mensajeError) {
      <div class="message info is-danger" style="border: 1px solid #DA9B9D; min-height: auto; border-radius: 7.5px;">
        <div class="vbox-centered">
          <div class="hitem">
            <span class="icon has-text-danger">
            <i class="fas fa-exclamation-triangle"></i>
            </span>
            <label class="label has-text-danger">¡Alerta!</label>
          </div>
            <span style="font-size: 0.85em; text-align: center; font-weight: normal !important">{{rm?.mensajeError}}</span>
        </div>
      </div>
      }
      @if(rm?.usuario.ultMarcacion) {
      <div class="message is-warning" style="border: 1px solid #eeaa5e;
      min-height: auto; border-radius: 7.5px; padding: 0px;">
        <div class="vbox-centered">
            <span [innerHtml]="rm?.usuario.ultMarcacion"
            style="font-size: 0.85em; text-align: center; font-weight: normal !important"></span>
        </div>
      </div>
      }
      <div class="info">
        <div class="vbox-centered">
          <span class="label">Dias con incidencias</span>
          <div class="hbox" style="align-">
            <div class="hitem">
              <i class="fas fa-long-arrow-alt-up" style="align-self: center; color: #72bddc"></i>
              <span>Llegó tarde</span>
            </div>
            <span id="totalCantRetrasos" style="font-weight: bold;"></span>
          </div>
          <div class="hbox" style="justify-content: space-between">
            <div class="hitem">
              <i class="far fa-clock" style="align-self: center; color: #d3d301"></i>
              <span>Retrasos</span>
            </div>
            <span id="totalMinRetrasos" style="font-weight: bold;"></span>
          </div>
          <div class="hbox">
            <div class="hitem">
              <i class="far fa-clock" style="align-self: center; color: #fc9482"></i>
              <span>Sin Marcar</span>
            </div>
            <span id="totalSinMarcar" style="font-weight: bold;"></span>
          </div>
          <div class="hbox">
            <div class="hitem">
              <i class="far fa-clock" style="align-self: center; color: #fc9482"></i>
              <span>Salió Antes</span>
            </div>
            <span id="totalSalAntes" style="font-weight: bold;"></span>
          </div>
          <div class="hbox">
            <div class="hitem">
              <i class="fas fa-times" style="align-self: center; color: #fa7660"></i>
              <span>Ausencias</span>
            </div>
            <span id="totalFaltas" style="font-weight: bold;"></span>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="vbox-centered">
          <span class="label">Excepciones</span>
          <div class="hbox">
            <div class="hitem">
              <i title="" class="far fa-circle" style="align-self: center; color: #2ecc71"></i>
              <span>ExcTickeo</span>
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <span><i class="far fa-question-circle" style="color: #888; background-color: {{getColor('Azul')}}"></i></span>
                </div>
                <div class="dropdown-menu" role="menu">
                  <div class="dropdown-content popup" style="background: linear-gradient(360deg, #fcfaf7 0%, #fdf7e7 100%); border: 1px #f4d27b solid;">
                    <div class="contenido" style='color: #786450; width: 200px'>
                        <span style="font-weight: normal">
                          Incluye: excepciones de tickeo ({{rm?.totalExcTickeos}}), tolerancias ({{rm?.totalTolerancias}}) e interrupciones ({{rm?.totalInterrupciones}})
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span id="" style="font-weight: bold;">{{rm?.totalExcepciones ?? "--"}}</span>
          </div>

          <div class="hbox">
            <div class="hitem">
              <i title="Permisos sin Goce de Haberes" class="far fa-circle" style="align-self: center; color: #a7c454"></i>
              <span>PermisoSG</span>
            </div>
            <span id="totalPermisosSG" style="font-weight: bold;">{{rm?.totalPermisosSG ?? "--" + "d"}}</span>
          </div>
          <div class="hbox">
            <div class="hitem">
              <i title="" class="far fa-circle" style="align-self: center; color: #7fd5fa"></i>
              <span>Vacación</span>
            </div>
            <span id="" style="font-weight: bold;">{{rm?.totalVacaciones ?? "--" + "d"}}</span>
          </div>
          <div class="hbox">
            <div class="hitem">
              <i title="" class="far fa-circle" style="align-self: center; color: #fc7b7d"></i>
              <span>Baja Médica</span>
            </div>
            <span id="" style="font-weight: bold;">{{rm?.totalBajas ?? "--" + "d"}}</span>
          </div>
          <div class="hbox">
            <div class="hitem">
              <i title="" class="far fa-circle" style="align-self: center; color: #939393"></i>
              <span>Otros</span>
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <span><i class="far fa-question-circle" style="color: #888; background-color: {{getColor('Azul')}}"></i></span>
                </div>
                <div class="dropdown-menu" role="menu">
                  <div class="dropdown-content popup" style="background: linear-gradient(360deg, #fcfaf7 0%, #fdf7e7 100%); border: 1px #f4d27b solid;">
                    <div class="contenido" style='color: #786450; width: 200px'>
                        <span style="font-weight: normal">
                          Incluye: permisos oficiales ({{rm?.totalPermisos}}), licencias ({{rm?.totalLicencias}}) y capacitaciones ({{rm?.totalCapacitaciones}})
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span id="" style="font-weight: bold;">{{rm?.totalOtros ?? "--" + "d"}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-narrow" style="box-sizing: border-box; width: fit-content; position: relative">
      <div class="hbox" style="align-content: space-between !important;">
        <div class="vinput mr-4">
          <label class="label" style="text-align: center">Elije un rango de fechas</label>
          <p class="control has-icons-right">
            <input id="datepicker" class="input" style="min-width: 210px;"/>
            <span class="icon is-right"><i class="fas fa-calendar-alt"></i></span>
          </p>
        </div>
        <div class="vinput ml-4" style="justify-self: center">
          <label class="label" style="text-align: center">Ir a reporte</label>
          <div class="hitem">
            <button class="button esmeralda" (click)="verAnterior()"
                    [disabled]="indexActual === 0"
                    style="border-radius: 5px">
              <span class="icon"><i class="fas fa-chevron-left"></i></span>
              <span>Anterior</span>
            </button>
            <button class="button esmeralda" (click)="verSiguiente()"
                    [disabled]="indexActual === usuarios.length - 1"
                    style="border-radius: 5px;">
              <span>Siguiente</span>
              <span class="icon"><i class="fas fa-chevron-right"></i></span>
            </button>
          </div>
        </div>
        <div class="hitem" style="margin-left: auto; align-self: flex-end">
          <button title="imprimir" class="button" (click)="imprimir()"><span class="icon">
            <i class="fas fa-print"></i></span>
          </button>
          <button class="button" (click)="generarExcelConEstilo()">
            <span class="icon" ><i class="fas fa-file-excel" style="color: rgb(16, 129, 16);"></i></span>
          </button>
        </div>
      </div>
      <table class="table marcaciones is-bordered"
             [class.table-loading]="isCargando" [class.table-overlay]="isCargando">
        <tr>
          <th></th>
          <th></th>
          <th style="text-align: center;" colspan="2">
            Primer Turno
          </th>
          <th style="text-align: center;" colspan="2">
            Segundo Turno
          </th>
          <th style="text-align: center;">
            Retraso
            <i class="fas fa-circle ml-1"
                 style="color: {{getColor('Amarillo')}}; padding: 0px;  border-radius: 50%;border: #999 1px solid; font-size: 0.75em"></i>
          </th>
          <th style="text-align: center;" colspan="2">
            Sanciones<i class="fas fa-circle ml-1" style="color: {{getColor('Rojo')}}; border-radius: 50%;padding: 0;border: #999 1px solid; font-size: 0.75em"></i>
          </th>
        </tr>
        <tr>
          <th>Dia</th>
          <th>Horario</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th><span class="help" style="text-align: center;">Minutos</span></th>
          <th><span class="help">Sin Marcar</span></th>
          <th><span class="help">Salió Antes</span></th>
        </tr>
        <tbody>
        @for (infoMarcacion of infoMarcaciones; track infoMarcacion; let index = $index) {
        {{setInfoActual(infoMarcacion)}}
        @if(infoMarcacion.activo) {
        @if(infoMarcacion.primerDia) {
        <tr>
          <th style="position: relative;">
            <span class="badge is-bottom mb-2 has-background-primary" style="box-shadow: 0 0 0 2px transparent;">
              {{infoMarcacion.primerDia.mes}}
            </span>
          </th>
        </tr>
        }
        <tr>
          <th style="position: relative">
            {{getInfoActual().dia}}
          </th>
          <td style="position: relative">
            <div class="hitem">
              <div class="circle" style="background-color: {{getColor(getInfoActual().horario.color)}}; border: 1px lightgray solid; align-self: center"></div>
              {{getInfoActual().horario.nombre}}
              @if(infoMarcacion.horario.incluyeFeriados) {
              <span title="Incluye días feriados"
                    class="badge is-bottom is-light is-success mb-1"
                    style="cursor: pointer; border-color: #9bd0d0; line-height: 10px;">+F</span>
              }
              @if(infoMarcacion.esInvierno || infoMarcacion.esLactancia || infoMarcacion.esJornadaDosDias ) {
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <span><i class="far fa-question-circle" style="color: #999; font-size:0.85em;"></i></span>
                </div>
                <div class="dropdown-menu" role="menu">
                  <div class="dropdown-content custom-dropdown">
                    <div style= "padding-left: 10px; padding-right: 5px;">
                      @if(infoMarcacion.esInvierno) {
                      <div class="hitem"><i class='fas fa-mountain mt-1' style='color: #639ac5'></i>Horario de Invierno</div>
                      }
                      @if(infoMarcacion.esLactancia) {
                      <div class="hitem"><i class='fas fa-baby mt-1' style='color: #e08686' ></i>Horario de Lactancia</div>
                      }
                      @if(infoMarcacion.esJornadaDosDias) {
                      <div class="hitem"><i class='fas fa-moon mt-1' style='color: #878ae3' ></i>Jornada de 2 dias</div>
                      }
                    </div>
                  </div>
                </div>
              </div>
              }
            </div>
          </td>
          <td>
            @if(infoMarcacion.hayPriEntExcepcion.existe) {
            <span class="help has-text-gray" style="margin-top: -4px; margin-bottom: -5px; font-size: 0.51em">
              {{getInfoActual().horario.priEntrada.slice(0, 5)}}
            </span>
            <div class="dropdown is-up is-hoverable">
              <div class="dropdown-trigger">
                @if(!infoMarcacion.hayPriEntExcepcion.esInterrupcion) {
                <i class="fas fa-check-double has-text-success"></i>
                } @else {
                <i class="fas fa-exclamation-triangle has-text-grey"></i>
                }
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content popup">
                  @if(!infoMarcacion.hayPriEntExcepcion.esInterrupcion) {
                  <div class='cabecera'>{{infoMarcacion.hayPriEntExcepcion.licencia}}</div>
                  } @else {
                  <div class='cabecera'>{{infoMarcacion.hayPriEntExcepcion.motivo}}</div>
                  }
                  <div class="contenido" style='color: #786450;'>
                    <div class="hitem">
                      <span class="semibold">Jornada: </span>
                      <span>{{infoMarcacion.hayPriEntExcepcion.jornada}}</span>
                    </div>
                    <div class="hitem">
                      <span class="semibold">Rango Horas: </span>
                      <span>{{infoMarcacion.hayPriEntExcepcion.horaIni + "-" + infoMarcacion.hayPriEntExcepcion.horaFin}}</span>
                    </div>
                    <div class="vitem has-text-left">
                      <span class="semibold">Detalle: </span>
                      <span>{{infoMarcacion.hayPriEntExcepcion.detalle}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            @if(!infoMarcacion.hayPriEntExcepcion.esInterrupcion) {
            <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Verde')}}">Excepción</span>
            } @else {
            <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Gris')}}">Interrupción</span>
            }
            } @else {
            <div class="vitem" style="margin-top: -4px;">
              <span class="help has-text-gray" style="margin-top: 0; margin-bottom: -5px; font-size: 0.51em">
                {{getInfoActual().horario.priEntrada.slice(0, 5)}}
              </span>
              <marcacion style= "font-size: 1em" tipo="entrada" [registros]="getInfoActual().priEntradas"></marcacion>
            </div>
            @if(infoMarcacion.hayPriRetraso) {
            <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Amarillo')}}">Retraso</span>
            }
            }
          </td>
          <td>
            @if(infoMarcacion.hayPriSalExcepcion.existe) {
            <span class="help has-text-gray" style="margin-top: -4px; margin-bottom: -5px; font-size: 0.51em">{{getInfoActual().horario.priSalida.slice(0, 5)}}</span>
            <div class="dropdown is-up is-hoverable">
              <div class="dropdown-trigger">
                @if(!infoMarcacion.hayPriSalExcepcion.esInterrupcion) {
                <i class="fas fa-check-double has-text-success"></i>
                } @else {
                <i class="fas fa-exclamation-triangle has-text-grey"></i>
                }
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content popup">
                  @if(!infoMarcacion.hayPriSalExcepcion.esInterrupcion) {
                  <div class='cabecera'>{{infoMarcacion.hayPriSalExcepcion.licencia}}</div>
                  } @else {
                  <div class='cabecera'>{{infoMarcacion.hayPriSalExcepcion.motivo}}</div>
                  }
                  <div class="contenido" style='color: #786450;'>
                    <div class="hitem">
                      <span class="semibold">Jornada: </span>
                      <span>{{infoMarcacion.hayPriSalExcepcion.jornada}}</span>
                    </div>
                    <div class="hitem">
                      <span class="semibold">Rango Horas: </span>
                      <span>{{infoMarcacion.hayPriSalExcepcion.horaIni + "-" + infoMarcacion.hayPriSalExcepcion.horaFin}}</span>
                    </div>
                    <div class="vitem has-text-left">
                      <span class="semibold">Detalle: </span>
                      <span>{{infoMarcacion.hayPriSalExcepcion.detalle}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            @if(!infoMarcacion.hayPriSalExcepcion.esInterrupcion) {
            <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Verde')}}">Excepción</span>
            } @else {
            <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Gris')}}">Interrupción</span>
            }
            } @else {
            <div class="vitem" style="margin-top: -4px;">
              <span class="help has-text-gray" style="margin-top: 0; margin-bottom: -5px; font-size: 0.51em">
                {{getInfoActual().horario.priSalida.slice(0, 5)}}
              </span>
              <marcacion style= "font-size: 1em" tipo="salida" [registros]="getInfoActual().priSalidas"></marcacion>
            </div>
            @if(infoMarcacion.hayPriAntes) {
            <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Rojo')}}">Salió antes</span>
            }
            @if(infoMarcacion.esJornadaDosDias) {
            <span title="¡Siguiente Día!" style="position: absolute; right: 4px; top: 5px;">
              <i class="fas fa-asterisk has-text-info" style="font-size:0.45em;"></i>
            </span>
            }
            }
          </td>
          @if(infoMarcacion.numTurnos == 2) {
          <td>
          @if(infoMarcacion.haySegEntExcepcion.existe) {
          <span class="help has-text-gray" style="margin-top: -4px; margin-bottom: -5px; font-size: 0.51em">{{getInfoActual().horario.segEntrada.slice(0, 5)}}</span>
          <div class="dropdown is-up is-hoverable">
            <div class="dropdown-trigger">
              @if(!infoMarcacion.haySegEntExcepcion.esInterrupcion) {
              <i class="fas fa-check-double has-text-success"></i>
              } @else {
              <i class="fas fa-exclamation-triangle has-text-grey"></i>
              }
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content popup">
                @if(!infoMarcacion.haySegEntExcepcion.esInterrupcion) {
                <div class='cabecera'>{{infoMarcacion.haySegEntExcepcion.licencia}}</div>
                } @else {
                <div class='cabecera'>{{infoMarcacion.haySegEntExcepcion.motivo}}</div>
                }
                <div class="contenido" style='color: #786450;'>
                  <div class="hitem">
                    <span class="semibold">Jornada: </span>
                    <span>{{infoMarcacion.haySegEntExcepcion.jornada}}</span>
                  </div>
                  <div class="hitem">
                    <span class="semibold">Rango Horas: </span>
                    <span>{{infoMarcacion.haySegEntExcepcion.horaIni + "-" + infoMarcacion.haySegEntExcepcion.horaFin}}</span>
                  </div>
                  <div class="vitem has-text-left">
                    <span class="semibold">Detalle: </span>
                    <span>{{infoMarcacion.haySegEntExcepcion.detalle}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          @if(!infoMarcacion.haySegEntExcepcion.esInterrupcion) {
          <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Verde')}}">Excepción</span>
          } @else {
          <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Gris')}}">Interrupción</span>
          }
          } @else {
          <div class="vitem" style="margin-top: -4px;">
            <span class="help has-text-gray" style="margin-top: 0; margin-bottom: -5px; font-size: 0.51em">{{getInfoActual().horario.segEntrada.slice(0, 5)}}</span>
            <marcacion style= "font-size: 1em" tipo="entrada" [registros]="getInfoActual().segEntradas"></marcacion>
          </div>
          @if(infoMarcacion.haySegRetraso) {
          <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Amarillo')}}">Retraso</span>
          }
          }
          </td>
          <td>
          @if(infoMarcacion.haySegSalExcepcion.existe) {
          <span class="help has-text-gray" style="margin-top: -4px; margin-bottom: -5px; font-size: 0.51em">{{getInfoActual().horario.segSalida.slice(0, 5)}}</span>
          <div class="dropdown is-up is-hoverable">
            <div class="dropdown-trigger">
              @if(!infoMarcacion.haySegSalExcepcion.esInterrupcion) {
              <i class="fas fa-check-double has-text-success"></i>
              } @else {
              <i class="fas fa-exclamation-triangle has-text-grey"></i>
              }
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content popup">
                @if(!infoMarcacion.haySegSalExcepcion.esInterrupcion) {
                <div class='cabecera'>{{infoMarcacion.haySegSalExcepcion.licencia}}</div>
                } @else {
                <div class='cabecera'>{{infoMarcacion.haySegSalExcepcion.motivo}}</div>
                }
                <div class="contenido" style='color: #786450;'>
                  <div class="hitem">
                    <span class="semibold">Jornada: </span>
                    <span>{{infoMarcacion.haySegSalExcepcion.jornada}}</span>
                  </div>
                  <div class="hitem">
                    <span class="semibold">Rango Horas: </span>
                    <span>{{infoMarcacion.haySegSalExcepcion.horaIni + "-" + infoMarcacion.haySegSalExcepcion.horaFin}}</span>
                  </div>
                  <div class="vitem has-text-left">
                    <span class="semibold">Detalle: </span>
                    <span>{{infoMarcacion.haySegSalExcepcion.detalle}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          @if(!infoMarcacion.haySegSalExcepcion.esInterrupcion) {
          <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Verde')}}">Excepción</span>
          } @else {
          <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Gris')}}">Interrupción</span>
          }
          } @else {
          <div class="vitem" style="margin-top: -4px;">
            <span class="help has-text-gray" style="margin-top: 0; margin-bottom: -5px; font-size: 0.51em">{{getInfoActual().horario.segSalida.slice(0, 5)}}</span>
            <marcacion style= "font-size: 1em" tipo="salida" [registros]="getInfoActual().segSalidas"></marcacion>
          </div>
          @if(infoMarcacion.haySegAntes) {
          <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Rojo')}}">Salió antes</span>
          }
          }
          </td>
          } @else {
          <td></td><td></td>
          }
          <td>{{mostrarCantidades(getInfoActual().minRetrasos)}}</td>
          <td>{{mostrarCantidades(getInfoActual().noMarcados)}}</td>
          <td>{{mostrarCantidades(getInfoActual().cantSalAntes)}}</td>
        </tr>
        } @else {
        @if(infoMarcacion.primerDia) {
        <tr>
          <th style="position: relative;"><span class="badge is-bottom mb-2 has-background-primary" style="box-shadow: 0 0 0 2px transparent;">
            {{infoMarcacion.primerDia.mes}}</span>
          </th>
        </tr>
        }
        @switch(infoMarcacion.estado) {
        @case (estado.teletrabajo) {
        <tr>
          <th>
            {{getInfoActual().dia}}
          </th>
          <td>
            <div class="hitem">
              <div class="circle" style="background-color: {{getColor(getInfoActual().horario.color)}}; border: 1px lightgray solid; align-self: center"></div>
              {{getInfoActual().horario.nombre}}
            </div>
          </td>
          <td colspan="8" style="text-align: left">{{getInfoActual().mensaje}}</td>
        </tr>
        }
        @case (estado.dia_libre) {
        <tr class="inactivo">
          <th>{{getInfoActual().dia}}</th>
          <td>
            <div class="hitem">
              <div class="circle" style="background-color: {{getColor(getInfoActual().horario.color)}}; border: 1px lightgray solid; align-self: center"></div>
              {{getInfoActual().horario.nombre}}
            </div>
          </td>
          <td colspan="8" style="text-align: left">{{getInfoActual().mensaje}}</td>
        </tr>
        }
        @case (estado.sin_registros) {
        <tr class="inactivo">
          <th>{{getInfoActual().dia}}</th>
          <td>
            {{getInfoActual().horario}}
          </td>
          <td colspan="8" style="text-align: left">{{getInfoActual().mensaje}}</td>
        </tr>
        }
        @case (estado.sin_asignar) {
        <tr class="inactivo">
          <th>{{getInfoActual().dia}}</th>
          <td>
            {{getInfoActual().horario}}
          </td>
          <td colspan="8" style="text-align: left">{{getInfoActual().mensaje}}</td>
        </tr>
        }
        @default {
        <tr>
          <th>{{getInfoActual().dia}}</th>
          <td>
            <div class="hitem">
              <i class="far fa-circle" style="align-self: center; color: {{getInfoActual().horario.color}}"></i>
              {{getInfoActual().horario.nombre}}
            </div>
          </td>
          <td colspan="8" style="text-align: left">
              {{getInfoActual().mensaje}}
          </td>
        </tr>
        }
        }
        }
        }
        </tbody>
      </table>
      @if(isCargando) {
      <div class="spinner-center">
        <button class="button is-size-1 is-loading is-white is-medium"
                style="border: none; background-color: transparent; ">Cargando
        </button>
      </div>
      }
    </div>
  </div>
</div>
