<div class="box" style="height: 100%;">
  <div class="hitem mb-5">
    <span (click)="irAtras()" class="icon button mt-1"><i class="fas fa-arrow-left"></i></span>
    <div class="title">
      <h1>Registro de marcaciones</h1>
    </div>
  </div>
  <div class="columns animate__animated animate__fadeIn">
    <div class="column is-narrow">
      <div class="info">
        <div class="vbox-centered">
          <div class="vinput mb-2" style="gap: 0px !important;">
            <label class="label" style="align-self: center">{{usuario?.terminal.nombre}}</label>
            <p class='help is-info' style="margin-top: 0px">{{this.textUltSincronizacion}}</p>
          </div>
          <i class="fas fa-user-circle" style="font-size: 3em"></i>
          <span class="label" style="margin: 0">{{usuario?.nombre}}</span>
          <span>{{usuario?.ci}}</span>
        </div>
      </div>
      <div class="info">
        <div class="vbox-centered">
          <span class="label">Dias con incidencias</span>
          <div class="hbox">
            <span>Llegó tarde</span>
            <span id="totalCantRetrasos" style="font-weight: bold;"></span>
          </div>
          <div class="hbox">
            <span>Total minutos</span>
            <span id="totalMinRetrasos" style="font-weight: bold;"></span>
          </div>
          <div class="hbox">
            <span>Sin Marcar</span>
            <span id="totalSinMarcar" style="font-weight: bold;"></span>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="vbox-centered">
          <span class="label">Ausencias</span>
          <div class="hbox">
            <span>Vacaciones</span>
            <span style="font-weight: bold;">--</span>
          </div>
          <div class="hbox">
            <span>Baja Medica</span>
            <span style="font-weight: bold;">--</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-narrow" style="box-sizing: border-box; width: fit-content;">
      <div class="hbox" style="align-content: space-between !important;">
        <div class="vinput">
          <label class="label" style="text-align: center">Elije un rango de fechas</label>
          <p class="control has-icons-right">
            <input id="datepicker" class="input" style="min-width: 210px;"/>
            <span class="icon is-right"><i class="fas fa-calendar-alt"></i></span>
          </p>
        </div>
        <div class="hitem">

        </div>
        <div class="hitem" style="margin-left: auto; align-self: flex-end">
          <button class="button"><span class="icon" (click)="imprimir()">
            <i class="fas fa-print"></i></span>
          </button>
          <button class="button"><span class="icon" (click)="exportexcel()"><i class="fas fa-file-excel"
                                                       style="color: rgb(16, 129, 16);"></i></span></button>
        </div>
      </div>
      <table id="tabla_marcaciones" class="table marcaciones is-bordered">
        <tr>
          <th></th>
          <th></th>
          <th style="text-align: center;" colspan="2">
            Primer Turno
          </th>
          <th style="text-align: center;" colspan="2">
            Segundo Turno
          </th>
          <th style="text-align: center;" colspan="2">
            Retraso
            <i class="fas fa-circle ml-1"
               style="color: orange; padding: 0px;  border-radius: 50%; font-size: 0.75em;"></i>
          </th>
          <th></th>
        </tr>
        <tr>
          <th>Dia</th>
          <th>Horario</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Cant.</th>
          <th>Suma [min]</th>
          <th>Sin Marcar<i class="fas fa-circle ml-1"
                           style="color: red; border-radius: 50%;padding: 0; font-size: 0.75em;"></i></th>
        </tr>
        <tbody>
        @for (infoMarcacion of infoMarcaciones; track infoMarcacion; let index = $index) {
        {{setInfoActual(infoMarcacion)}}
        @if(infoMarcacion.activo) {
        <tr>
          <th>{{getInfoActual().dia}}</th>
          <td> {{getInfoActual().horario}}</td>
          <td>
            <marcacion tipo="entrada" [registros]="getInfoActual().priEntradas"></marcacion>
            @if(infoMarcacion.hayPriRetraso) {
            <span class="badge is-bottom is-warning mb-1" style="background-color: #FFE5D4; color: black">Retraso</span>
            }
          </td>
          <td>
            <marcacion tipo="salida" [registros]="getInfoActual().priSalidas"></marcacion>
          </td>
          @if(infoMarcacion.numTurnos == 2) {
          <td>
          <marcacion tipo="entrada" [registros]="getInfoActual().segEntradas"></marcacion>
          @if(infoMarcacion.haySegRetraso) {
          <span class="badge is-bottom is-warning mb-1" style="background-color: #FFE5D4; color: black">Retraso</span>
          }
          </td>
          <td><marcacion tipo="salida" [registros]="getInfoActual().segSalidas"></marcacion></td>
          } @else {
          <td></td><td></td>
          }
          <td>{{mostrarCantidades(getInfoActual().cantRetrasos)}}</td>
          <td>{{mostrarCantidades(getInfoActual().minRetrasos)}}</td>
          <td>{{mostrarCantidades(getInfoActual().noMarcados)}}</td>
        </tr>
        } @else {
        <tr class="inactivo">
          <th>{{getInfoActual().dia}}</th>
          <td>{{getInfoActual().horario}}</td>
          <td colspan="4" style="text-align: left">{{getInfoActual().mensaje}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        }
        }
        </tbody>
      </table>
    </div>
  </div>
</div>
