<div class="box fondo" style="height: 100%;">
  <div class="hitem mb-5">
    <span (click)="irAtras()" class="icon button mt-1"><i class="fas fa-arrow-left"></i></span>
    <div class="title">
      <h1>Registro de marcaciones</h1>
    </div>
  </div>
  <div class="columns animate__animated animate__fadeIn">
    <div class="column is-narrow" style="max-width: 180px;">
      <div class="info">
        <div class="vbox-centered">
          <div class="vinput mb-2" style="gap: 0px !important;">
            <label class="label" style="align-self: center">{{usuario?.terminal.nombre}}</label>
            <span class="help">Ult. Sincronización</span>
            <p class='help is-info' style="margin-top: 0px">{{this.textUltSincronizacion}}</p>
          </div>
          <i class="fas fa-user-circle" style="font-size: 3em"></i>
          <span class="label has-text-centered" style="margin: 0">{{usuario?.nombre}}</span>
          <span>{{usuario?.ci}}</span>
        </div>
      </div>
      <div class="info">
        <div class="vbox-centered">
          <span class="label">Dias con incidencias</span>
          <div class="hbox">
            <span>Llegó tarde</span>
            <span id="totalCantRetrasos" style="font-weight: bold;"></span>
          </div>
          <div class="hbox">
            <span>Total minutos</span>
            <span id="totalMinRetrasos" style="font-weight: bold;"></span>
          </div>
          <div class="hbox">
            <span>Sin Marcar</span>
            <span id="totalSinMarcar" style="font-weight: bold;"></span>
          </div>
          <div class="hbox">
            <span>Faltas</span>
            <span id="totalFaltas" style="font-weight: bold;"></span>
          </div>
        </div>
      </div>
      @if(resumenMarcacion?.mensajeError) {
      <div class="message info is-danger" style="border: 1px solid #DA9B9D; min-height: auto">
        <div class="vbox-centered">
          <div class="hitem">
            <span class="icon has-text-danger">
            <i class="fas fa-exclamation-triangle"></i>
            </span>
            <label class="label has-text-danger">¡Alerta!</label>
          </div>
          <span>{{resumenMarcacion.mensajeError}}</span>
        </div>
      </div>
      }
    </div>
    <div class="column is-narrow" style="box-sizing: border-box; width: fit-content;">
      <div class="hbox" style="align-content: space-between !important;">
        <div class="vinput">
          <label class="label" style="text-align: center">Elije un rango de fechas</label>
          <p class="control has-icons-right">
            <input id="datepicker" class="input" style="min-width: 210px;"/>
            <span class="icon is-right"><i class="fas fa-calendar-alt"></i></span>
          </p>
        </div>
        <div class="hitem" style="margin-left: auto; align-self: flex-end">
          <button title="imprimir" class="button" (click)="imprimir()"><span class="icon">
            <i class="fas fa-print"></i></span>
          </button>
        </div>
      </div>
      <table class="table marcaciones is-bordered">
        <tr>
          <th></th>
          <th></th>
          <th style="text-align: center;" colspan="2">
            Primer Turno
          </th>
          <th style="text-align: center;" colspan="2">
            Segundo Turno
          </th>
          <th style="text-align: center;" colspan="2">
            Retraso
            <i class="fas fa-circle ml-1"
                 style="color: {{getColor('Amarillo')}}; padding: 0px;  border-radius: 50%;border: #999 1px solid"></i>
          </th>
          <th></th>
        </tr>
        <tr>
          <th>Dia</th>
          <th>Horario</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Cant.</th>
          <th>Minutos</th>
          <th>Sin Marcar<i class="fas fa-circle ml-1"
                           style="color: {{getColor('Rojo')}}; border-radius: 50%;padding: 0;border: #999 1px solid"></i></th>
        </tr>
        <tbody>
        @for (infoMarcacion of infoMarcaciones; track infoMarcacion; let index = $index) {
        {{setInfoActual(infoMarcacion)}}
        @if(infoMarcacion.activo) {
        @if(infoMarcacion.primerDia) {
        <tr>
          <th style="position: relative;"><span class="badge is-bottom mb-2 has-background-primary">{{infoMarcacion.primerDia.mes}}</span></th>
        </tr>
        }
        <tr>
          <th style="position: relative">
            {{getInfoActual().dia}}
          </th>
          <td>
            <div class="hitem">
              <div class="circle" style="background-color: {{getColor(getInfoActual().horario.color)}}; border: 1px lightgray solid; align-self: center"></div>
              {{getInfoActual().horario.nombre}}
              @if(infoMarcacion.esInvierno || infoMarcacion.esLactancia || infoMarcacion.esJornadaDosDias ) {
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <span><i class="fas fa-ellipsis-v" style="color: #999; font-size:0.85em;"></i></span>
                </div>
                <div class="dropdown-menu" role="menu">
                  <div class="dropdown-content custom-dropdown">
                    <div style= "padding-left: 10px; padding-right: 5px;">
                      @if(infoMarcacion.esInvierno) {
                      <div class="hitem"><i class='fas fa-mountain mt-1' style='color: #639ac5'></i>Horario de Invierno</div>
                      }
                      @if(infoMarcacion.esLactancia) {
                      <div class="hitem"><i class='fas fa-baby mt-1' style='color: #e08686' ></i>Horario de Lactancia</div>
                      }
                      @if(infoMarcacion.esJornadaDosDias) {
                      <div class="hitem"><i class='fas fa-moon mt-1' style='color: #878ae3' ></i>Jornada de 2 dias</div>
                      }
                    </div>
                  </div>
                </div>
              </div>
              }
            </div>
          </td>
          <td>
            @if(infoMarcacion.hayPriEntExcepcion.existe) {
            <div class="dropdown is-up is-hoverable">
              <div class="dropdown-trigger">
                <i class="fas fa-check-double has-text-success"></i>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content popup">
                  <div class='cabecera'>{{infoMarcacion.hayPriEntExcepcion.licencia}}</div>
                  <div class="contenido" style='color: #786450;'>
                    <div class="hitem">
                      <span class="semibold">Jornada: </span>
                      <span>{{infoMarcacion.hayPriEntExcepcion.jornada}}</span>
                    </div>
                    <div class="hitem">
                      <span class="semibold">Rango Horas: </span>
                      <span>{{infoMarcacion.hayPriEntExcepcion.horaIni + "-" + infoMarcacion.hayPriEntExcepcion.horaFin}}</span>
                    </div>
                    <div class="vitem has-text-left">
                      <span class="semibold">Detalle: </span>
                      <span>{{infoMarcacion.hayPriEntExcepcion.detalle}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Verde')}}">Excepción</span>
            } @else {
            <marcacion tipo="entrada" [registros]="getInfoActual().priEntradas"></marcacion>
            @if(infoMarcacion.hayPriRetraso) {
            <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Amarillo')}}">Retraso</span>
            }
            }
          </td>
          <td>
            @if(infoMarcacion.hayPriSalExcepcion.existe) {
            <div class="dropdown is-up is-hoverable">
              <div class="dropdown-trigger">
                <i class="fas fa-check-double has-text-success"></i>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content popup">
                  <div class='cabecera'>{{infoMarcacion.hayPriSalExcepcion.licencia}}</div>
                  <div class="contenido" style='color: #786450;'>
                    <div class="hitem">
                      <span class="semibold">Jornada: </span>
                      <span>{{infoMarcacion.hayPriSalExcepcion.jornada}}</span>
                    </div>
                    <div class="hitem">
                      <span class="semibold">Rango Horas: </span>
                      <span>{{infoMarcacion.hayPriSalExcepcion.horaIni + "-" + infoMarcacion.hayPriSalExcepcion.horaFin}}</span>
                    </div>
                    <div class="vitem has-text-left">
                      <span class="semibold">Detalle: </span>
                      <span>{{infoMarcacion.hayPriSalExcepcion.detalle}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Verde')}}">Excepción</span>
            } @else {
            <marcacion tipo="salida" [registros]="getInfoActual().priSalidas"></marcacion>
            }
          </td>
          @if(infoMarcacion.numTurnos == 2) {
          <td>
          @if(infoMarcacion.haySegEntExcepcion.existe) {
          <div class="dropdown is-up is-hoverable">
            <div class="dropdown-trigger">
              <i class="fas fa-check-double has-text-success"></i>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content popup">
                <div class='cabecera'>{{infoMarcacion.haySegEntExcepcion.licencia}}</div>
                <div class="contenido" style='color: #786450;'>
                  <div class="hitem">
                    <span class="semibold">Jornada: </span>
                    <span>{{infoMarcacion.haySegEntExcepcion.jornada}}</span>
                  </div>
                  <div class="hitem">
                    <span class="semibold">Rango Horas: </span>
                    <span>{{infoMarcacion.haySegEntExcepcion.horaIni + "-" + infoMarcacion.haySegEntExcepcion.horaFin}}</span>
                  </div>
                  <div class="vitem has-text-left">
                    <span class="semibold">Detalle: </span>
                    <span>{{infoMarcacion.haySegEntExcepcion.detalle}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Verde')}}">Excepción</span>
          } @else {
          <marcacion tipo="entrada" [registros]="getInfoActual().segEntradas"></marcacion>
          @if(infoMarcacion.haySegRetraso) {
          <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Amarillo')}}">Retraso</span>
          }
          }
          </td>
          <td>
          @if(infoMarcacion.haySegSalExcepcion.existe) {
          <div class="dropdown is-up is-hoverable">
            <div class="dropdown-trigger">
              <i class="fas fa-check-double has-text-success"></i>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content popup">
                <div class='cabecera'>{{infoMarcacion.haySegSalExcepcion.licencia}}</div>
                <div class="contenido" style='color: #786450;'>
                  <div class="hitem">
                    <span class="semibold">Jornada: </span>
                    <span>{{infoMarcacion.haySegSalExcepcion.jornada}}</span>
                  </div>
                  <div class="hitem">
                    <span class="semibold">Rango Horas: </span>
                    <span>{{infoMarcacion.haySegSalExcepcion.horaIni + "-" + infoMarcacion.haySegSalExcepcion.horaFin}}</span>
                  </div>
                  <div class="vitem has-text-left">
                    <span class="semibold">Detalle: </span>
                    <span>{{infoMarcacion.haySegSalExcepcion.detalle}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="badge is-bottom" style="margin-bottom: .15rem !important; color: black;background-color: {{getColor('Verde')}}">Excepción</span>
          } @else {
          <marcacion tipo="salida" [registros]="getInfoActual().segSalidas"></marcacion>
          }
          </td>
          } @else {
          <td></td><td></td>
          }
          <td>{{mostrarCantidades(getInfoActual().cantRetrasos)}}</td>
          <td>{{mostrarCantidades(getInfoActual().minRetrasos)}}</td>
          <td>{{mostrarCantidades(getInfoActual().noMarcados)}}</td>
        </tr>
        } @else {
        @if(infoMarcacion.primerDia) {
        <tr>
          <th style="position: relative;"><span class="badge is-bottom mb-2 has-background-primary">{{infoMarcacion.primerDia.mes}}</span></th>
        </tr>
        }
        @switch (infoMarcacion.estado) {
        @case (estado.teletrabajo) {
        <tr>
          <th>{{getInfoActual().dia}}</th>
          <td>
            <div class="hitem">
              <div class="circle" style="background-color: {{getColor(getInfoActual().horario.color)}}; border: 1px lightgray solid; align-self: center"></div>
              {{getInfoActual().horario.nombre}}
            </div>
          </td>
          <td colspan="7" style="text-align: left">{{getInfoActual().mensaje}}</td>
        </tr>
        }
        @case (estado.dia_libre) {
        <tr class="inactivo">
          <th>{{getInfoActual().dia}}</th>
          <td>
            <div class="hitem">
              <div class="circle" style="background-color: {{getColor(getInfoActual().horario.color)}}; border: 1px lightgray solid; align-self: center"></div>
              {{getInfoActual().horario.nombre}}
            </div>
          </td>
          <td colspan="7" style="text-align: left">{{getInfoActual().mensaje}}</td>
        </tr>
        }
        @case (estado.sin_registros) {
        <tr class="inactivo">
          <th>{{getInfoActual().dia}}</th>
          <td>
            {{getInfoActual().horario}}
          </td>
          <td colspan="7" style="text-align: left">{{getInfoActual().mensaje}}</td>
        </tr>
        }
        @case (estado.sin_asignar) {
        <tr class="inactivo">
          <th>{{getInfoActual().dia}}</th>
          <td>
            {{getInfoActual().horario}}
          </td>
          <td colspan="7" style="text-align: left">{{getInfoActual().mensaje}}</td>
        </tr>
        }
        @default {
        <tr>
          <th>{{getInfoActual().dia}}</th>
          <td>
            <div class="hitem">
              <i class="far fa-circle" style="align-self: center; color: {{getInfoActual().horario.color}}"></i>
              {{getInfoActual().horario.nombre}}
            </div>
          </td>
          <td colspan="7" style="text-align: left">
              {{getInfoActual().mensaje}}
          </td>
        </tr>
        }
        }
        }
        }
        </tbody>
      </table>
    </div>
  </div>
</div>
