
<div class="box" style="height: 100%;">
  <div class="title">
    <h1>Lista de Horarios</h1>
  </div>

  <div style="box-sizing: border-box; width: fit-content;">
    <div class="hbox">
      <div class="hitem">
      </div>
      <div class="hitem">
      </div>
      <div class="hitem">
      </div>
      <div class="hitem has-tooltip-arrow" data-tooltip="Agregar Horario" style="margin-left: auto;">
        <button class="button" routerLink="/nuevo-horario"><span class="icon"><i class="fas fa-plus "></i></span></button>
      </div>
    </div>
    <table class="table is-bordered is-hoverable animate__animated animate__fadeIn">
      <tr style="background-color: #d6e6f6;">
        <th>#</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Tolerancia</th>
        <th>Color</th>
        <th>Acciones</th>
      </tr>
      <tbody>
      <tr>
        <td>1</td>
        <td>Oficina 8hrs</td>
        <td>Horario doble turno, mañana y tarde</td>
        <td>5min</td>
        <td>Celeste</td>
        <td>...</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-card is-small">
  <header class="modal-card-head" style="background-color: #295a8c;">
    <p class="modal-card-title" style="color: white">Nuevo Horario</p>
    <button class="delete" aria-label="close"></button>
  </header>
  <section class="modal-card-body">
    <div class="hbox">
      <div class="hitem mt-2">
        <label class="label mt-2">Nombre:</label>
        <input type="text" class="input">
      </div>
      <div class="hitem mt-2">
        <label class="label mt-2">Color:</label>
        <input type="color" class="mt-2" style="width: 50px">
      </div>
      <div class="hitem mt-2">
        <label class="label mt-2">Tolerancia:</label>
        <input class="input" type="number" min="0" max="10" step="1" VALUE="5">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="label">Descripción</label>
        <textarea rows="2" class="textarea" placeholder="Detalles del horario"></textarea>
      </div>
    </div>
    <div class="semana">
      <table class="table">
        <thead>
        <tr>
          <th>Dia</th>
          <th>Periodo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Lunes</td>
          <td><input type="time" value="08:00" class="input"></td>
          <td><input type="time" value="12:00" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Martes</td>
          <td><input type="time" value="08:00" style="width: 100px" class="input"></td>
          <td><input type="time" value="12:00" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Miercoles</td>
          <td><input type="time" value="08:00" style="width: 100px" class="input"></td>
          <td><input type="time" value="12:00" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Jueves</td>
          <td><input type="time" value="08:00" style="width: 100px" class="input"></td>
          <td><input type="time" value="12:00" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Viernes</td>
          <td><input type="time" value="08:00" style="width: 100px" class="input"></td>
          <td><input type="time" value="12:00" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Sábado</td>
          <td><input type="time" style="width: 100px" class="input"></td>
          <td><input type="time" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Domingo</td>
          <td><input type="time" style="width: 100px" class="input"></td>
          <td><input type="time" style="width: 100px" class="input"></td>
        </tr>
        </tbody>
      </table>
    </div>

  </section>
  <footer class="modal-card-foot">
    <div class="buttons">
      <button class="button" style="background-color: #295a8c; color: white">Guardar</button>
      <button class="button">Cancelar</button>
    </div>
  </footer>
</div>
