
<div class="box" style="height: 100%;">
  <div class="title">
    <h1>Lista de Horarios</h1>
  </div>

  <div class="animate__animated animate__fadeIn" style="box-sizing: border-box; width: fit-content;">
    <div class="hbox">
      <div class="hitem">
      </div>
      <div class="hitem">
      </div>
      <div class="hitem">
      </div>
      <div class="hitem has-tooltip-arrow" data-tooltip="Agregar Horario" style="margin-left: auto;">
        <button class="button" routerLink="/nuevo-horario"><span class="icon"><i class="fas fa-plus "></i></span></button>
      </div>
    </div>
    <table class="table is-bordered is-hoverable">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Tolerancia</th>
        <th>Color</th>
        <th>Descripcion</th>
        <th>Acciones</th>
      </tr>
      <tbody>
      @for (horario of horarios; track horario; let i = $index) {
      <tr id={{horario.id}}>
          <td>{{i + 1}}</td>
          <td>{{horario.nombre}}</td>
          <td>{{horario.tolerancia}}</td>
          <td>{{horario.color}}</td>
          <td>{{horario.descripcion}}</td>
          <td>
            <div class="hitem">
              <span class="icon has-tooltip-arrow" data-tooltip="Editar" (click) = "nuevoHorario()">
                <i class="far fa-edit icon-btn"></i>
              </span>
              <span class="icon has-tooltip-arrow " data-tooltip="Eliminar" (click) = "nuevoHorario()">
                <i class="far fa-times-circle icon-btn"></i>
              </span>
            </div>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
