<div class="box fondo" style="height: 100%;">
  <div class="title">
    <h1>Lista de Horarios</h1>
  </div>

  <div class="animate__animated animate__fadeIn" style="box-sizing: border-box; width: fit-content;">
    <div class="hbox">
      <div class="hitem"></div>
      <div class="hitem"></div>
      <div class="hitem"></div>
      <div class="hitem has-tooltip-arrow expand" data-tooltip="Agregar Horario" style="margin-left: auto;">
        <button class="button" routerLink="/nuevo-horario"><span class="icon"><i class="fas fa-plus "></i></span>
        </button>
      </div>
    </div>
    <table class="table is-bordered is-hoverable">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th style="position: relative">
          Tolerancia
          <span class="badge is-bottom is-light">[min]</span>
        </th>
        <th>Color</th>
        <th>Área</th>
        <th>Descripción</th>
        <th></th>
      </tr>
      <tbody>
      @for (horario of horarios; track horario; let i = $index) {
      <tr id={{horario.id}}>
          <td>{{i + 1}}</td>
          <td>{{horario.nombre}}</td>
          <td>{{horario.tolerancia}}</td>
          <td>
            <div class= "hitem">
              {{horario.color}}
              <span class="color" >
              <i class="fas fa-circle" style="color:{{getColor(horario.color)}};"></i>
              </span>
            </div>
          </td>
          <td>{{horario.area}}</td>
          <td>{{horario.descripcion}}</td>
          <td>
            <div class="hitem">
            <span class="icon has-tooltip-arrow expand mr-1" data-tooltip="Ver Horario" (click) = "modalVerHorario(horario)">
                 <i class="far fa-eye icon-btn"></i>
              </span>
              <span class="icon has-tooltip-arrow expand" data-tooltip="Editar" (click) = "modalEditar(horario.id)">
                 <i class="far fa-edit icon-btn"></i>
              </span>
              <span class="icon has-tooltip-arrow expand" data-tooltip="Eliminar" (click) = "verificarHorario(horario)">
                <i class="far fa-times-circle icon-btn"></i>
              </span>
            </div>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
  <div class="modal " id="ver_horario">
    <div class="modal-background" id="fondo_ver" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 450px">
      <header class="modal-card-head">
        <p class="modal-card-title">Ver horario</p>
        <button class="delete" aria-label="close" (click)="ocultarVerHorario()"></button>
      </header>
      <section class="modal-card-body">
        <div class="hitem mb-3 etiqueta" style="justify-content: center; background-color: {{getColor(getColorHorario())}}">
          <i class="fas fa-clock has-text-grey" style="font-size: 1.15em; align-self: center"></i>
          <span style="font-size: 1.15em">{{getNombreHorario()}}</span>
        </div>
        <table class="table horario">
          <thead>
          <tr>
            <th></th>
            <th colspan="2" style="text-align: center;min-width: 150px">Primer Turno</th>
            <th style="min-width: 25px;"></th>
            <th colspan="2" style="text-align: center;min-width: 150px">Segundo Turno</th>
          </tr>
          <tr>
            <th style="min-width: 80px">Dia</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th></th>
            <th>Entrada</th>
            <th>Salida</th>
          </tr>
          </thead>
          <tbody>
          @for (jornadaDia of jornadaDias; track jornadaDia; let index = $index ) {
          <tr id="{{jornadaDia.dia}}" style="min-height: 35px !important;">
            <td>{{jornadaDia.dia}}</td>
            @if(jornadaDia.habilitado) {
            <td><div style="min-height: 30px"><span class="celda">{{getHora(jornadaDia.priEntrada)}}</span></div></td>
            <td><span>{{getHora(jornadaDia.priSalida)}}</span></td>
            <td></td>
            <td><span>{{getHora(jornadaDia.segEntrada)}}</span></td>
            <td><span>{{getHora(jornadaDia.segSalida)}}</span></td>
          } @else {
          <td colspan="4">
            <div style="min-height: 30px"><span></span></div>
          </td>
          }
          </tr>
          }
          </tbody>
        </table>
      </section>
    </div>
  </div>
  <div class="modal " id="eliminar_modal">
    <div class="modal-background" id="fondo_eliminar" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 400px">
      <header class="modal-card-head">
        <p class="modal-card-title">Eliminar horario</p>
        <button class="delete" aria-label="close" (click) = "ocultarEliminar()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">Se eliminará el horario plantilla: {{getNombreHorario()}}</label>
        <p class="label">¿Esta seguro?</p>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button es-primario" (click)="eliminarHorario()">Aceptar</button>
          <button class="button" type="button" (click) = "ocultarEliminar()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
</div>
