<div class="modal-card" style="width: 920px; height: 720px; background-color: white;">
  <header class="modal-card-head">
    <p class="modal-card-title">Asignar Horario</p>
    <button (click)="cerrarModal()" class="delete" aria-label="close"></button>
  </header>
  <div class="animate__animated animate__fadeIn">
    <div class="columns" style="margin: 10px">
      <div class="column box is-one-quarter" style="background-color: #f2fffe; overflow-y: auto; height: 570px; overflow-x: hidden;">
        <div class="hitem" style="justify-content: space-between">
          <label class="label" style="font-size: 1.15em">Lista de Funcionarios</label>
          <div class="numero">{{usuarios.length}}</div>
        </div>
        @for (usuario of usuarios;track usuario; let i = $index ) {
        <div class="list-item">
          <div class="list-item-content">
            <div class="hitem mt-2">
              <label class="label">{{i+1}}. </label>
              <div class="list-item-title">
                {{usuario.nombre}}
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      <div class="column" [formGroup]="formAsignar">
        <div class="hbox" style="justify-content: space-between;">
          <div class="hitem">
            <label class="label mt-1">
              Selecciona un rango de fechas:
            </label>
            <p class="control has-icons-right">
              <input id="datepicker" class="input" style="width: 210px" formControlName="fecha"/>
              <span class="icon is-right"><i class="fas fa-calendar-alt"></i></span>
            </p>
          </div>
          <div class="hitem">
            <label class="label mt-1">
              Elije un horario como plantilla:
            </label>
            <div class="select" >
              <select id="select_horarios" (change)="seleccionar($event)"  formControlName="horario">
                <option disabled selected style="display: none"></option>
                @for (horario of horarios; track horario; let i = $index ) {
                <option value={{horario.id}}>
                  @if(!horario.incluyeFeriados) {
                  {{horario.nombre}}
                } @else {
                  {{horario.nombre}} +F
                }
                </option>
                }
              </select>
            </div>
          </div>
        </div>
        <div class="hbox mb-3" style="justify-content: space-between;">
          <div class="vbox">
            <div class="hbox" style="gap: 20px">
              <div class="hitem">
                <span class="has-text-weight-bold">Tolerancia: </span>
                <span id="tolerancia">--</span>
              </div>
              <div class="hitem">
                <span class="has-text-weight-bold">Color: </span>
                <span id="nombre_color"> -- </span>
                <span class="color">
                  <i id="valor_color" class="fas fa-circle" style="color: white"></i>
                </span>
              </div>
              <div class="hitem">
                <span class="has-text-weight-bold">Área: </span>
                <span id="area">--</span>
              </div>
              <div id="feriados" class="hitem pl-2" style="position:relative;">
              </div>
            </div>
            <div class="hitem">
              <span class="has-text-weight-bold">Descripcion: </span>
              <span id="descripcion" style="min-width: 50px">--</span>
            </div>
          </div>
          <div class="vbox">
            <div>
              <label class="switch is-rounded invierno">
                <input type="checkbox" formControlName="invierno" (click)="aplicaInvierno($event)">
                <span class="check is-info "></span>
                <div class="hitem">
                  <span class="control-label" style="min-width: 70px">Invierno</span>
                  <i class="fas fa-mountain mt-1" style=" color: gray"></i>
                </div>
              </label>
            </div>
            <div>
              <label class="switch is-rounded lactancia">
                <input type="checkbox" formControlName="lactancia" >
                <span class="check"></span>
                <div class="hitem">
                  <span class="control-label">Lactancia</span>
                  <i class="fas fa-baby mt-1" style="color: gray" ></i>
                </div>
              </label>
            </div>
          </div>
        </div>

        <table class="table horario">
          <thead>
          <tr>
            <th></th>
            <th colspan="2" style="text-align: center;min-width: 210px">Primer Turno</th>
            <th colspan="2" style="text-align: center;min-width: 210px">Segundo Turno</th>
          </tr>
          <tr>
            <th style="min-width: 80px">Dia</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th>Entrada</th>
            <th>Salida</th>
          </tr>
          </thead>
          <tbody>
          @for (jornadaDia of jornadaDias; track jornadaDia; let index = $index ) {
          <tr id="{{jornadaDia.dia}}" [class.desactivado]="!estaIncluido(jornadaDia.dia)">
            <td class="{{getClase(index)}}">{{jornadaDia.dia}}</td>
            @if(jornadaDia.habilitado) {
          <td colspan="2">
            <div class="hitem">
              <input type="time" value="{{jornadaDia.priEntrada}}" class="input" (keyup)="cambiaHora($event, jornadaDia.priEntrada, 'priEntrada', index)">
              <div style="position: relative">
                <input type="time" value="{{jornadaDia.priSalida}}" class="input" (keyup)="cambiaHora($event, jornadaDia.priSalida, 'priSalida', index)">
                @if(horario.jornadasDosDias) {
                <span class="badge is-bottom is-info is-light">¡Siguiente día!</span>
                }
              </div>
            </div>
          </td>
          <td colspan="2">
            @if(jornadaDia.segEntrada === null  && jornadaDia.segSalida === null) {
            <div class="hitem oculto">
            </div>
            } @else {
            <div class="hitem">
            <input type="time" value="{{jornadaDia.segEntrada}}"  class="input" (keyup)="cambiaHora($event, jornadaDia.segEntrada, 'segEntrada', index)">
                <input type="time" value="{{jornadaDia.segSalida}}"  class="input" (keyup)="cambiaHora($event, jornadaDia.segSalida, 'segSalida', index)">
              </div>
            }
          </td>
          } @else {
          <td colspan="4">
            <div class="hitem" style="min-height: 35px"></div>
          </td>
          }
          </tr>
          }
          </tbody>
        </table>
      </div>
      <footer class="modal-card-foot" style="position: absolute; bottom: 0px; width: 100%">
        <div class="buttons">
          <button id="btn_asignar" class="button es-primario" (click)="asignarHorario()" [disabled]="formAsignar.invalid">
            Asignar
          </button>
          <button class="button" (click)="cerrarModal()" >Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
</div>
