.list-item {
  display: block;
  padding: .5em;
}

.list-item.is-small {
  padding: 0.25rem 0.5rem; /* menos espacio */
  font-size: 0.85em;       /* texto más pequeño */
  line-height: 1.2;
}
.list-item.is-small .label {
  font-size: 0.85em;
}

.label {
  align-self: center;
  max-width: 120px;
  line-height: 1.2em;
}

.color i{
  border: 1px #999 solid;
  border-radius: 50%;
  font-size: 1em;
}

.par {
  background-color: #FBCFD0 !important;
}

.impar {
  background-color: #FFE5D4 !important;
}
