<div class="box" style="height: 100%;">
  <div class="title">
    <h1>Feriados y Asuetos</h1>
  </div>
  <div class="columns animate__animated animate__fadeIn">
    <div class="column is-narrow">
      <div class="hbox">
        <div class="hitem">
          <label class="label mt-2">Gestion: </label>
          <div class="select" >
            <select id="">
              <option selected>2025</option>
            </select>
          </div>
        </div>
      </div>
      <table class="table is-bordered is-hoverable">
        <tr>
          <th>Fecha</th>
          <th>Nombre</th>
          <th>Aplica a</th>
          <th>Descripción</th>
          <th></th>
        </tr>
        <tbody>
        @for (asueto of asuetos; track asueto) {
        <tr id={{asueto.id}}>
          @if(asueto.fecha) {
          <td>{{formatFecha(asueto)}}</td>
          } @else {
          <td class="has-text-success">Por Asignar</td>
          }
          <td>{{asueto.nombre}}</td>
          @if(asueto.tipo === 1) {
          <td><div class="hitem">{{getTipo(asueto)}}<i class="fas fa-users mt-1 has-text-primary"></i></div></td>
          } @else {
          <td><div class="hitem">{{getTipo(asueto)}}<i class="fas fa-restroom mt-1 has-text-info"></i></div></td>
          }
          <td>{{asueto.descripcion}}</td>
          <td>
            <span class="icon has-tooltip-arrow expand" data-tooltip="Editar Fecha">
                <i class="far fa-edit icon-btn" (click)="mostrarModal(asueto)"></i>
              </span>
          </td>
        </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal" id="fecha_modal">
    <div class="modal-background" id="background" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 275px;">
      <header class="modal-card-head">
        <p class="modal-card-title">Asignar Fecha</p>
        <button class="delete" aria-label="close" (click)="ocultarModal()"></button>
      </header>
      <section class="modal-card-body">
        <label id="nombre_feriado" class="label"></label>
        <input id="picker_fecha"fecha class="input" style="min-width: 210px;display: none;"/>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button es-primario" (click)="editarFecha()">Aceptar</button>
          <button class="button" type="button" (click)="ocultarModal()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
</div>
