.jornada {
  padding: 5px;
  border: 1px solid #DBDBDB;
  width: 80px;
  height: 70px;
  border-radius: 15px;
}

.jornada header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: center;
  border-bottom: 1px;
  border-bottom: 1px dashed gray;
}
