<div class="modal-card" style="width: 400px;">
  <header class="modal-card-head" style="background-color: #295a8c;">
    <p class="modal-card-title" style="color: white">{{accion}} Terminal</p>
    <button (click)="onClose()" class="delete" aria-label="close"></button>
  </header>
  <form [formGroup]= "formAccion" >
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" id="nombre" type="text" formControlName="nombre" placeholder="Planta Baja"/>
          <p class="help is-info">Máximo 14 caracteres</p>
        </div>
      </div>
      <div class="hitem">
        <div class="field">
          <label class="label">IP</label>
          <div class="control">
            <input class="input" id="ip" type="text" formControlName="ip" placeholder="192.168.70.xxx">
          </div>
        </div>
        <div class="field">
          <label class="label">Puerto</label>
          <div class="control">
            <input class="input" id="puerto" type="text" formControlName="puerto" placeholder="4370">
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button es-primario" type="button" (click)="onSubmit()">
          Guardar
        </button>
        <button class="button" type="button" (click)="onClose()">Cancelar</button>
      </div>
    </footer>
  </form>
</div>
