<div class="terminal box">
  <div class="etiqueta">
    @if(terminal.tieneConexion) {
    <div class="circle" style="background-color: {{getColor('Verde')}}; border: 1px #999 solid;"></div>
    } @else {
    <div class="circle" style="background-color: {{getColor('Guindo')}}; border: 1px #999 solid;"></div>
    }
  </div>
  <header>
    <p>{{ terminal.nombre }}</p>
  </header>
  <div class="contenido">
    <div class="dato" style="justify-content: center">
      <h3></h3><span class="has-text-weight-semibold">{{ terminal.ip }}</span>
    </div>
    <div class="dato mt-2" style="justify-content: center">
      <div class="vinput" style="align-items: center">
        <span class="help">Ult. Sincronización</span>
        <span class="help is-info has-text-weight-semibold">{{ getUltimaSincronizacion() }}</span>
        <div class="hitem" style="justify-content: center">
          <span class="help">Total marcaciones: </span>
          <span class="help is-primary" >{{terminal.totalMarcaciones}}</span>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <a (click)="irA(terminal.id)"
       class="button is-rounded is-outlined" style="font-size: 1em">Ingresar</a>
  </footer>
</div>
