<div class="terminal box">
  <header>
    <p>{{ terminal.nombre }}</p>
  </header>
  <div class="contenido">
    <div class="dato">
      <h3 class="has-text-weight-medium">IP:</h3><span>{{ terminal.ip }}</span>
    </div>
    <div class="dato mt-2" style="justify-content: center">
      <div class="vinput" style="align-items: center">
        <span class="help">Ult. Sincronización</span>
        <span class="help is-info">{{ getUltimaSincronizacion() }}</span>
      </div>
    </div>
  </div>
  <footer>
    <a routerLink="/terminal/{{terminal.id}}/usuarios"
       class="button is-rounded is-outlined" style="font-size: 1em">Ingresar</a>
  </footer>
</div>
