.dropdown-menu {
  min-width: auto !important;
}

.dropdown-item {
  font-size: 1em;
  padding: .375rem 0.5rem;
}

.dropdown-content {
  border: 1px #c2c0c0 solid;
}

#terminal-map {
  /* Aquí forzamos el 100% de la altura disponible */
  width: 100%;
  height: 100%;
}
