<div class="box" style="height: 100%;">
  <div class="title">
    <h1>Administracion de Terminales</h1>
  </div>
  <div class="animate__animated animate__fadeIn" style="box-sizing: border-box; width: fit-content;">
    <div class="hbox">
      <div class="hitem">
      </div>
      <div class="hitem">
      </div>
      <div class="hitem">
      </div>
      <div class="hitem has-tooltip-arrow" data-tooltip="Agregar Terminal" style="margin-left: auto;">
          <button class="button" (click) = "agregarEditarModal(undefined)">
            <span class="icon"><i class="fas fa-plus "></i></span>
          </button>
      </div>
    </div>
    <table class="table is-bordered is-hoverable animate__animated animate__fadeIn">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Dirección IP</th>
        <th>Puerto</th>
        <th>Acciones</th>
      </tr>
      <tbody>
      @for (t of terminales; track t; let i = $index) {
         <tr id={{t.id}}>
          <td>{{i + 1}}</td>
          <td>{{t.nombre}}</td>
          <td>{{t.ip}}</td>
          <td>{{t.puerto}}</td>
          <td>
            <div class="hitem">
              <span class="icon has-tooltip-arrow" data-tooltip="Editar" (click) = "agregarEditarModal(t)">
                <i class="far fa-edit icon-btn"></i>
              </span>
              <span class="icon has-tooltip-arrow " data-tooltip="Eliminar" (click) = "mostrarEliminar(t)">
                <i class="far fa-times-circle icon-btn"></i>
              </span>
            </div>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
  <div class="modal " id="eliminar_modal">
    <div class="modal-background" id="background" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 400px">
      <header class="modal-card-head">
        <p class="modal-card-title">Eliminar terminal</p>
        <button class="delete" aria-label="close" (click) = "ocultarEliminar()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">Se borrará el terminal seleccionado ¿Esta seguro? </label>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button es-primario" (click)="delete()">Aceptar</button>
          <button class="button" type="button" (click) = "ocultarEliminar()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
</div>
