<div class="box" style="height: 100%;">
  <div class="title">
    <h1>Administracion de Terminales</h1>
  </div>
  <div class="animate__animated animate__fadeIn" style="box-sizing: border-box; width: fit-content;">
    <div class="hbox">
      <div class="hitem">
      </div>
      <div class="hitem">
      </div>
      <div class="hitem">
      </div>
      <div class="hitem has-tooltip-arrow" data-tooltip="Agregar Terminal" style="margin-left: auto;">
        <button class="button" (click) = "nuevoTerminal()"><span class="icon"><i class="fas fa-plus "></i></span></button>
      </div>
    </div>
    <table class="table is-bordered is-hoverable animate__animated animate__fadeIn">
      <tr style="background-color: #d6e6f6;">
        <th>#</th>
        <th>Nombre</th>
        <th>IP</th>
        <th>Puerto</th>
        <th>Acciones</th>
      </tr>
      <tbody>
      <tr>
        <td>1</td>
        <td>Planta Baja</td>
        <td>192.168.70.199</td>
        <td>4370</td>
        <td>...</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
