body {
  height: 100vh;
}
.title h1, .subtitle h2 {
  padding-bottom: 5px;
  position: relative;
}
.title h1:before, .subtitle h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 70px;
  background-color: #295A8C;
}
.title h1:after, .subtitle h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 350px;
  background-color: #CEDFF2;
}
.button {
  text-transform: capitalize !important;
}

.logo {
  padding: 0rem 0rem !important;
}

.logo img {
  padding: 10px;
  max-height: none !important;
  width: 100%;
  height: 110px;
}

.principal {
  padding: 5px;
}

.sidebar {
  background-color: #d6e6f6;
  background: linear-gradient(-40deg, #E3EEFC 55%, #cedff2 0%);
  height: 100vh;
}

.cell {
  background-color: rgb(186, 245, 255);
  min-height: 50px;
}

.animation {
  position: relative;
  overflow: hidden;
  &:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

&:active:before {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}
}

.grid {
  --bulma-grid-gap: 3px !important;
}

.table .is-selected {
  background-color: #E6EAE8 !important;
  color: black !important;
}

.hbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.hitem {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.breadcrumb:not(:last-child) {
  margin-bottom: 10px !important;
}

.pagination-link.is-current {
  background-color: #d6e6f6 !important;
  border-color: #b7c6d2 !important;
  color: #000 !important;
}

.vbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

