<div class="box" style="height: 100%;">
  <div class="title">
    <h1>Nuevo Horario</h1>
  </div>
  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" type="text" placeholder="Oficina">
        </div>
      </div>
      <div class="hitem" style="justify-content: space-between">
        <div class="field">
          <label class="label">Tolerancia</label>
          <div class="control">
            <input class="input" type="number" min="0" max="10" placeholder="5 min">
          </div>
        </div>
        <div class="field">
          <label class="label">Color</label>
          <div class="control">
            <input class="input" type="color">
        </div>
      </div>
      </div>
        <div class="field">
          <label class="label">Descripcion</label>
          <div class="control">
            <textarea class="textarea" rows="2"></textarea>
          </div>
        </div>
    </div>
    <div class="column">
      <table class="table">
        <thead>
        <tr>
          <th>Dia</th>
          <th>Periodo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Lunes</td>
          <td><input type="time" value="08:00" class="input"></td>
          <td><input type="time" value="12:00" style="width: 100px" class="input"></td>
          <td><input type="time" value="08:00" class="input"></td>
          <td><input type="time" value="12:00" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Martes</td>
          <td><input type="time" value="08:00" style="width: 100px" class="input"></td>
          <td><input type="time" value="12:00" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Miercoles</td>
          <td><input type="time" value="08:00" style="width: 100px" class="input"></td>
          <td><input type="time" value="12:00" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Jueves</td>
          <td><input type="time" value="08:00" style="width: 100px" class="input"></td>
          <td><input type="time" value="12:00" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Viernes</td>
          <td><input type="time" value="08:00" style="width: 100px" class="input"></td>
          <td><input type="time" value="12:00" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Sábado</td>
          <td><input type="time" style="width: 100px" class="input"></td>
          <td><input type="time" style="width: 100px" class="input"></td>
        </tr>
        <tr>
          <td>Domingo</td>
          <td><input type="time" style="width: 100px" class="input"></td>
          <td><input type="time" style="width: 100px" class="input"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
