<div class="box" style="height: 100%;">
  <div class="hitem mb-5">
    <span (click)="irAtras()" class="icon button mt-1"><i class="fas fa-arrow-left"></i></span>
    <div class="title">
      <h1>Nuevo Horario</h1>
    </div>
  </div>
  <div class="animate__animated animate__fadeIn">
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control">
            <input class="input" type="text" placeholder="Oficina">
          </div>
          <p class="help is-info">Máximo 12 caracteres</p>
        </div>
        <div class="hitem" style="justify-content: space-between">
          <div class="field">
            <label class="label">Tolerancia</label>
            <div class="hitem">
              <div class="control">
                <input class="input" type="number" value="0" min="0" max="10" placeholder="5" style="width: 55px">
              </div>
              <span class="mt-2">min.</span>
            </div>
          </div>
          <div class="field">
            <label class="label">Color</label>
            <div class="control">
              <input class="input" type="color" style="width: 50px;">
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Descripcion</label>
          <div class="control">
            <textarea class="textarea" rows="2"></textarea>
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <table class="table horario">
          <thead>
          <tr>
            <th></th>
            <th >Dia</th>
            <th  style="text-align: center;">1° Turno</th>
            <th style="text-align: center;">2° Turno</th>
          </tr>
          </thead>
          <tbody>
          @for (dia of dias; track dia; let i = $index ) {
          <tr id="{{dia}}">
            <td>
              <label class="b-checkbox checkbox">
                <input type="checkbox" value="false" name="{{dia}}" (change)="changed($event)">
                <span class="check es-secundario"></span>
              </label>
            </td>
            <td class="desactivado" style="text-transform: capitalize;">{{dia}}</td>
            <td class="desactivado">
              <div class="hitem">
                <input type="time" value="" class="input">
                <input type="time" value="" class="input">
                <button class="button btn-accion has-tooltip-arrow" data-tooltip="Agregar Turno" (click)="agregarTurno(dia)">
                  <span class="icon"><i class="fas fa-plus "></i></span>
                </button>
              </div>
            </td>
            <td class="desactivado">
              <div class="hitem oculto" id="turno_{{dia}}">
                <input type="time" value=""  class="input">
                <input type="time" value=""  class="input">
                <button class="button btn-accion has-tooltip-arrow" data-tooltip="Quitar Turno" (click)="quitarTurno(dia)">
                  <span class="icon"><i class="fas fa-minus "></i></span>
                </button>
              </div>
            </td>
          </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button es-primario">
          Guardar
        </button>
        <button class="button">Cancelar</button>
      </div>
    </footer>
  </div>
</div>
