.horario td:not([align]) {
  vertical-align: middle;
}
.horario .b-checkbox.checkbox:not(.button) {
  margin-right: 0px;
  margin-top: 5px;
  pointer-events: auto !important;
  opacity: 1 !important;
  z-index: 100 !important;
}

/* Spin Buttons modified */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #FFF url("/../assets/arrows.png") no-repeat center center;
  width: 1.5em;
  border-left: 1px solid #BBB;
  opacity: 1; /* shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.dropdown-item {
  font-size: 1em;
}

.dropdown-item i{
  border: 1px #999 solid;
  border-radius: 25px;
  font-size: 0.85em;
}

.dropdown-menu {
  min-width: 100px!important;
  width: 114px;
}

#btn_color {
  min-width: 100px!important;
  width: 114px;
}
