<div class="modal-card" style="width: 930px; height: 650px; background-color: white;">
  <header class="modal-card-head">
    <p class="modal-card-title">Asignar Horario</p>
    <button (click)="cerrarModal()" class="delete" aria-label="close"></button>
  </header>
  <div class="animate__animated animate__fadeIn">
    <div class="columns" style="margin: 10px">
      <div class="column box is-one-quarter"
           style="background-color: #f2fffe; overflow-y: auto; height: 500px; overflow-x: hidden;">
        <label class="label" style="font-size: 1.15em">Lista de Funcionarios</label>
        @for (usuario of usuarios;track usuario; let i = $index ) {
        <div class="list-item">
          <div class="list-item-content">
          <div class="hitem mt-2">
            <label class="label">{{i+1}}. </label>
            <div class="list-item-title">
        {{usuario.nombre}}
        </div>
      </div>
      </div>
    </div>
        }
      </div>
      <div class="column">
        <div class="hbox" style=" justify-content: space-between">
          <div class="hitem">
            <label class="label mt-1">
              Selecciona un rango de fechas:
            </label>
            <p class="control has-icons-right">
              <input id="datepicker" class="input" style="width: 210px"/>
              <span class="icon is-right"><i class="fas fa-calendar-alt"></i></span>
            </p>
          </div>
          <div class="hitem">
            <label class="label mt-1">
              Elije un horario como plantilla:
            </label>
            <div class="select" >
              <select id="select_horarios" (change)="seleccionar($event)">
                <option disabled selected style="display: none"></option>
                @for (horario of horarios; track horario; let i = $index ) {
                  <option value={{horario.id}}>{{horario.nombre}}</option>
                }
              </select>
            </div>
          </div>
        </div>
        <div class="hbox" style="justify-content: space-between">
          <div class="hbox">
            <div class="hitem">
              <span>Tolerancia: </span>
              <span id="tolerancia" style="min-width: 50px">--</span>
            </div>
            <div class="hitem">
              <span>Color: </span>
              <span id="color" style="min-width: 50px">--</span>
            </div>
          </div>
          <div class="hbox">
            <div class="field" style="margin-top: 2px">
              <label class="b-checkbox checkbox is-dark">
                <input type="checkbox" value="false">
                <span class="check is-warning"></span>
                <span class="control-label">Lactancia</span>
              </label>
            </div>
            <div class="field">
              <label class="switch is-rounded is-info">
                <input type="checkbox">
                <span class="check is-info "></span>
                <span class="control-label">Invierno</span>
              </label>
            </div>
          </div>
        </div>
        <table class="table horario">
          <thead>
          <tr>
            <th style="min-width: 80px">Dia</th>
            <th style="text-align: center;min-width: 210px">Primer Turno</th>
            <th style="text-align: center;min-width: 210px">Segundo Turno</th>
          </tr>
          </thead>
          <tbody>
          @for (jornada of jornadaDias; track jornada; let i = $index ) {
          <tr id="{{jornada.dia}}">
            <td>{{jornada.dia}}</td>
            <td>
              <div class="hitem">
                <input type="time" value="{{jornada.priEntrada}}" class="input">
                <input type="time" value="{{jornada.priSalida}}" class="input">
              </div>
            </td>
            <td>
              <div class="hitem">
                <input type="time" value="{{jornada.segEntrada}}"  class="input">
                <input type="time" value="{{jornada.segSalida}}"  class="input">
              </div>
            </td>
          </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
    <footer class="modal-card-foot" style="position: absolute; bottom: 0px; width: 100%">
      <div class="buttons">
        <button class="button es-primario" (click) = "asignarHorario()">
          Guardar
        </button>
        <button class="button" (click)="cerrarModal()" >Cancelar</button>
      </div>
    </footer>
  </div>
</div>

