<div class="modal-card" style="width: 440px; height: 660px">
  <header class="modal-card-head">
    <p class="modal-card-title">Editar usuario</p>
    <button class="delete" aria-label="close" (click)="cerrarModal()"></button>
  </header>

  <form [formGroup]="formAccion">
    <section class="modal-card-body">
      <div class="hbox mb-4" style="justify-content: space-between">
        <div class="hitem">
          <i class="fas fa-user-circle" style="font-size: 3em"></i>
          <div class="vinput">
            <span class="label" style="margin: 0">{{usuario?.nombre}}</span>
            <span>{{usuario?.ci}}</span>
          </div>
        </div>
        <div class="hitem">
          <button class="button crema" (click)="mostrarEditarEnBiometrico()"
                  style="background-color: {{getColor('Azul')}}; border-radius: 5px; position: relative;">
                <span class="icon has-tooltip-arrow expand" title="Editar en biométrico">
                  <i class="fas fa-user-edit"></i>
                  <div style="text-align: center" style="bottom: -10px; right: -25%;transform: translateX(50%);z-index: 2; position: absolute">
                    <i class="fas fa-terminal help" style="background-color: #dedede;padding: 2px;font-size: 0.6em;"></i>
                  </div>
                </span>
          </button>
          <button class="button crema ml-1" (click)="mostrarClonar()"
                  style="background-color: {{getColor('Naranja')}}; border-radius: 5px; position: relative;">
                <span class="icon has-tooltip-arrow expand" title="Clonar funcioanrio">
                  <i class="fas fa-user-friends"></i>
                  <div style="text-align: center" style="bottom: -10px; right: -25%;transform: translateX(50%);z-index: 2; position: absolute">
                    <i class="fas fa-terminal help" style="background-color: #dedede;padding: 2px;font-size: 0.6em;"></i>
                  </div>
                </span>
          </button>
        </div>
      </div>
      <div class="form-step active" id="editar">
        <div class="hitem" style="gap: 20px;">
          <div class="field">
            <label class="label">Fecha de Alta</label>
            <div class="control">
              <input class="input" type="date" max="{{gestionActual}}-12-31" formControlName="fechaAlta"/>
            </div>
          </div>
          <div class="field">
            <label class="label">Fecha de Baja</label>
            <div class="control">
              <input id="fecha_baja" class="input" type="date" max="{{gestionActual}}-12-31" formControlName="fechaBaja">
            </div>
          </div>
        </div>
        <div class="hitem mt-4" style="gap: 20px;">
          <div class="field" style="display: none">
            <label class="label">Fecha de Cumpleaños</label>
            <div class="control">
              <input class="input" type="date" max="{{gestionActual}}-12-31" style="width: 170px" formControlName="fechaCumpleano">
            </div>
          </div>
          <div class="field">
            <label class="label">Estado</label>
            <div class="select" >
              <select id="" formControlName="estado">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div id="editar_en_biometrico" class="form-step">
        <div class="hitem" style="gap: 20px;">
          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input class="input" type="text" style="min-width: 240px"/>
            </div>
          </div>
          <div class="field">
            <label class="label">Privilegio</label>
            <div class="select" >
              <select id="" formControlName="estado">
                <option value="1">Usuario</option>
                <option value="0">Administrador</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div id="clonar" class="form-step">
        <div class="vitem">
          <span class="label mt-2">Filtrar por categoria</span>
          <div class="buttons mb-1" style="gap: 0px">
            @for(categoria of categorias; track categoria; let index = $index) {
            <button class="button toggle" [class.seleccionado]="isSelected(index)">
              <div class="hitem">
                @if(isSelected(index)) {
                <i class="fas fa-check has-text-success" style="align-self: center;"></i>
                }
                <span>{{categoria}}</span>
              </div>
            </button>
            }
          </div>
          <div class="field">
            <label class="label">Terminales</label>
            <div class="select">
              <select id="" formControlName="estado">
                <option value="1">Planta Baja</option>
                <option value="0">Mezanine</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot" style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px">
      <div class="buttons">
        <button class="button es-primario" type="button" (click)="onSubmit()" [disabled]="formAccion.invalid">
          Guardar
        </button>
        <button class="button" type="button" (click)="cerrarModal()">Cancelar</button>
      </div>
    </footer>
  </form>
</div>
