<div class="modal-card" style="width: 440px; height: 700px">
  <header class="modal-card-head">
    <p class="modal-card-title">Editar usuario</p>
    <button class="delete" aria-label="close" (click)="cerrarModal()"></button>
  </header>

  <form [formGroup]="formAccion">
    <section class="modal-card-body">
      <div class="hbox mb-4" style="justify-content: space-between">
        <div class="hitem">
          <i class="fas fa-user-circle" style="font-size: 3em"></i>
          <div class="vinput">
            <span class="label" style="margin: 0">{{usuario?.nombre}}</span>
            <span>{{usuario?.ci}}</span>
          </div>
        </div>
        <div class="hitem">
          @if(formActual !== 'editar') {
          <button class="button crema" (click)="mostrarEditar()"
                  style="background-color: {{getColor('Azul')}}; border-radius: 5px;">
            <span class="icon has-tooltip-arrow expand" title="Editar datos">
              <i class="fas fa-user-edit"></i>
            </span>
          </button>
          }
          @if(formActual !== 'editar_en_biometrico') {
          <button class="button crema" (click)="mostrarEditarEnBiometrico()"
                  style="background-color: {{getColor('Crema')}}; border-radius: 5px; position: relative;">
                <span class="icon has-tooltip-arrow expand" title="Editar en biométrico">
                  <i class="fas fa-user-cog"></i>
                  <div style="text-align: center" style="bottom: -10px; right: -25%;transform: translateX(50%);z-index: 2; position: absolute">
                    <i class="fas fa-terminal help" style="background-color: #dedede;padding: 2px;font-size: 0.6em;"></i>
                  </div>
                </span>
          </button>
          }
          @if(formActual !== 'clonar') {
          <button class="button naranja ml-1" (click)="mostrarClonar()"
                  style="background-color: {{getColor('Naranja')}}; border-radius: 5px; position: relative;">
                <span class="icon has-tooltip-arrow expand" title="Clonar funcionario">
                  <i class="fas fa-user-friends"></i>
                  <div style="text-align: center" style="bottom: -10px; right: -25%;transform: translateX(50%);z-index: 2; position: absolute">
                    <i class="fas fa-terminal help" style="background-color: #dedede;padding: 2px;font-size: 0.6em;"></i>
                  </div>
                </span>
          </button>
          }
        </div>
      </div>
      <div class="form-step" [class.active]="formActual === 'editar'">
        <div class="hitem" style="gap: 20px;">
          <div class="field">
            <label class="label">Fecha de Alta</label>
            <div class="control">
              <input class="input" type="date" max="{{gestionActual}}-12-31" formControlName="fechaAlta"/>
            </div>
          </div>
          <div class="field">
            <label class="label">Fecha de Baja</label>
            <div class="control">
              <input id="fecha_baja" class="input" type="date" max="{{gestionActual}}-12-31" formControlName="fechaBaja">
            </div>
          </div>
        </div>
        <div class="hitem mt-4" style="gap: 20px;">
          <div class="field" style="display: none">
            <label class="label">Fecha de Cumpleaños</label>
            <div class="control">
              <input class="input" type="date" max="{{gestionActual}}-12-31" style="width: 170px" formControlName="fechaCumpleano">
            </div>
          </div>
          <div class="field">
            <label class="label">Estado</label>
            <div class="select" >
              <select id="" formControlName="estado">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-step" [class.active]="formActual === 'editar_en_biometrico'">
        <span class="mb-3">Cambia el nombre y/o rol del funcionario en el biométrico</span>
        <div class="vitem">
          <div class="hitem mt-2" style="gap: 20px;">
            <div class="field">
              <label class="label">Nombre</label>
              <div class="control">
                <input class="input" type="text" style="min-width: 240px" formControlName="nombre"/>
              </div>
            </div>
            <div class="field">
              <label class="label">Privilegio</label>
              <div class="select" >
                <select formControlName="privilegio">
                  <option value="1">Usuario</option>
                  <option value="0">Administrador</option>
                </select>
              </div>
            </div>
          </div>
          <label class="b-checkbox checkbox">
            <input type="checkbox" formControlName="confirmarEdicion">
            <span class="check es-secundario" style="margin-top: 1px"></span>
            <span class="help ml-1">Confirmo editar los datos en el biométrico</span>
          </label>
        </div>
      </div>
      <div class="form-step" [class.active]="formActual === 'clonar'">
        <div class="vitem">
          <span class="mb-3">Copia los datos y huellas de un funcionario. Selecciona el biométrico destino</span>
          <div class="buttons mb-1" style="gap: 0px">
            @for(categoria of categorias; track categoria; let index = $index) {
            <button class="button toggle" (click)="filtrarPorCategoria(index)" [class.seleccionado]="isSelected(index)">
              <div class="hitem">
                @if(isSelected(index)) {
                <i class="fas fa-check has-text-success" style="align-self: center;"></i>
                }
                <span>{{categoria}}</span>
              </div>
            </button>
            }
          </div>
          <div class="terminales" style="margin-left: 2px">
            @for (terminal of terminalesFiltrados; track terminal) {
            <div class="terminal" [class.seleccionado]="terminalSeleccionado === terminal"
            [class.desactivado]="terminal.id === usuario?.terminal?.id"
            (click)="seleccionarTerminal(terminal)">
              <div class="etiqueta">
              @if(terminal.tieneConexion) {
              <div class="circle" style="background-color: {{getColor('Verde')}}; border: 1px #999 solid;"></div>
              } @else {
              <div class="circle" style="background-color: {{getColor('Guindo')}}; border: 1px #999 solid;"></div>
              }
              </div>
              <header>
                <p>{{ terminal.nombre }}</p>
              </header>
            </div>
            }
          </div>
          <label class="b-checkbox checkbox mt-2">
            <input type="checkbox" formControlName="confirmarClonacion">
            <span class="check es-secundario" style="margin-top: 3px"></span>
            <span class="help ml-1">Confirmo copiar los datos del funcionario al biométrico seleccionado</span>
          </label>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot" style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px">
      <div class="buttons">
        <button class="button es-primario" type="button" (click)="onSubmit()" [disabled]="!esFormularioValido()">
          Aceptar
        </button>
        <button class="button" type="button" (click)="cerrarModal()">Cancelar</button>
      </div>
    </footer>
  </form>
</div>
