<div class="box fondo" style="height: 100%;">
  <div class="hitem mb-5">
    <span (click)="irAtras()" class="icon button mt-1"><i class="fas fa-arrow-left"></i></span>
    <div class="title">
      <h1>Lista de Interrupciones</h1>
    </div>
  </div>
  <div class="animate__animated animate__fadeIn" style="box-sizing: border-box; width: fit-content;">
    <div class="hbox">
      <div class="hitem"></div>
      <div class="hitem"></div>
      <div class="hitem"></div>
      <div class="hitem has-tooltip-arrow expand" data-tooltip="Agregar Interrupcion" style="margin-left: auto;">
        <button class="button" (click) = "agregarInterrupcionModal()">
          <span class="icon"><i class="fas fa-plus "></i></span>
        </button>
      </div>
    </div>
    <table class="table is-bordered is-hoverable">
      <tr>
        <th style="width: 110px;">Fecha</th>
        <th style="position: relative">
          Hora
          <span class="badge is-bottom is-light">Inicio</span>
        </th>
        <th style="position: relative">
          Hora
          <span class="badge is-bottom is-light">Fin</span>
        </th>
        <th style="width: 120px;">Motivo</th>
        <th style="width: 350px;">Detalle</th>
        <th></th>
      </tr>
      <tbody>
      @for (interrupcion of interrupciones; track interrupcion; let i = $index) {
      <tr>
        <td>{{formatearFecha(interrupcion.fecha)}}</td>
        <td>{{formatearHora(interrupcion.horaIni)}}</td>
        <td>{{formatearHora(interrupcion.horaFin)}}</td>
        <td>{{interrupcion.motivo}}</td>
        <td>{{interrupcion.detalle}}</td>
        <td>
          <span class="icon has-tooltip-arrow expand" data-tooltip="Eliminar Interrupción" (click) = "eliminarInterrupcionModal(interrupcion)">
            <i class="far fa-times-circle icon-btn"></i>
          </span>
        </td>
      </tr>
      }
      </tbody>
    </table>
  </div>
  <div class="modal " id="eliminar_modal">
    <div class="modal-background" id="fondo_eliminar" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 400px">
      <header class="modal-card-head">
        <p class="modal-card-title">Eliminar interrupción</p>
        <button class="delete" aria-label="close" (click) = "ocultarEliminar()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">Se eliminará la interrupción seleccionada.</label>
        <p class="label">¿Esta seguro?</p>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button es-primario" (click)="eliminarInterrupcion()">Aceptar</button>
          <button class="button" type="button" (click) = "ocultarEliminar()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
</div>

