<div class="box fondo" style="height: 100%;">
  <div class="hitem mb-4">
    <span (click)="irAtras()" class="icon button mt-1"><i class="fas fa-arrow-left"></i></span>
    <div class="title">
      <h1>Reporte General {{terminal}}</h1>
    </div>
  </div>
 <div class="animate__animated animate__fadeIn" style="width: fit-content;">
   <div class="hbox">
     <div class="vinput" style="position: relative">
       <div class="hitem">
         <label class="label" style="margin-bottom: 0px;">Buscar Funcionario </label>
         <span class="help" style="margin-left: auto; font-weight: bold">{{resumenMarcaciones.length}}</span>
       </div>
       <p class="control has-icons-right">
         <input id="tf_busqueda"  type="text" class="input" autocomplete="off" placeholder="Nombre o CI"/>
         <span class="icon is-right"><i class="fas fa-search"></i></span>
       </p>
       <ul id="suggestions"></ul>
     </div>
     <div class="hitem" style="background-color: {{getColor('Amarillo')}}; padding: 10px; border-radius: 10px; gap: 30px;">
       <div class="vinput">
         <div class="icon-text">
        <span class="icon has-text-primary" style="font-size: 1.2em">
          <i class="far fa-calendar-alt"></i>
        </span>
           <span class="label">Rango de Fechas</span>
         </div>
         <p class="block has-text-centered">{{getFechaIni()}} - {{getFechaFin()}}</p>
       </div>
       <div class="vinput">
         <div class="icon-text">
        <span class="icon has-text-info">
        <i class="fas fa-sort-numeric-up" style="font-size: 1.2em"></i>
        </span>
           <span class="label">Total Días</span>
         </div>
         <p class="block has-text-centered">
           {{getTotalDias()}}
         </p>
       </div>
       <div class="vinput" style="display: none">
         <div class="icon-text">
        <span class="icon has-text-danger-70">
        <i class="fas fa-exclamation-triangle" style="font-size: 1.2em"></i>
        </span>
           <span class="label">Interrupciones</span>
         </div>
         <p class="block has-text-centered">
           0
         </p>
       </div>
       <div class="vinput">
         <div class="icon-text">
        <span class="icon has-text-success" style="font-size: 1.2em">
          <i class="far fa-file-alt"></i>
        </span>
           <span class="label">Fecha de Creación</span>
         </div>
         <p class="block has-text-centered">{{fechaCreacion}}</p>
       </div>
     </div>
     <div class="hitem" style="align-self: flex-end; margin-left: auto">
       <button title="imprimir" class="button" (click)="imprimir()"><span class="icon">
            <i class="fas fa-print"></i></span>
       </button>
       <button class="button" (click)="exportExcel()">
         <span class="icon" ><i class="fas fa-file-excel" style="color: rgb(16, 129, 16);"></i></span>
       </button>
     </div>
   </div>

   <table class="table is-bordered is-hoverable" id="tabla_reporte">
     <tr class="stick">
       <th>#</th>
       <th (click)="onSort('nombre')" class="ordenable" style="min-width: 225px;">
         Nombre
           <i class=" sort fas" [ngClass]="getSortClass('nombre')"></i>
       </th>
       <th style="width: 95px;">CI</th>
       <th (click)="onSort('fechaAlta')"  class="ordenable" style="min-width: 105px;">
         <div class="vitem pr-3">
           <span class="help"> Fecha de Alta</span>
           <span class="help"> en Biométrico</span>
         </div>
         <i class="sort fas" [ngClass]="getSortClass('fechaAlta')"></i>
       </th>
       <th (click)="onSort('diasComputados')"  class="ordenable">
         <div class="vitem has-text-centered pr-3">
          <span class="help">Días</span>
          <span class="help">Computados</span>
         </div>
         <i class="sort fas" [ngClass]="getSortClass('diasComputados')"></i>
       </th>
       <th (click)="onSort('retraso')"  class="ordenable">
         <div class="vitem has-text-centered pr-3">
           <span class="help">Retraso</span>
           <span class="help">[min]</span>
         </div>
         <i class="sort fas" [ngClass]="getSortClass('retraso')"></i>
       </th>
       <th (click)="onSort('sinMarcar')"  class="ordenable">
         <div class="vitem has-text-centered pr-3">
           <span class="help">Sin</span>
           <span class="help">Marcar</span>
         </div>
         <i class="sort fas" [ngClass]="getSortClass('sinMarcar')"></i>
       </th>
       <th (click)="onSort('salAntes')"  class="ordenable">
         <div class="vitem has-text-centered pr-3">
           <span class="help">Salió</span>
           <span class="help">Antes</span>
         </div>
         <i class="sort fas" [ngClass]="getSortClass('salAntes')"></i>
       </th>
       <th (click)="onSort('faltas')"  class="ordenable">
         <span class="help pr-3">Faltas</span>
         <i class="sort fas" [ngClass]="getSortClass('faltas')"></i>
       </th>
       <th class="hidden-print"></th>
     </tr>
     <tbody>
     @for (rm of resumenMarcaciones; track rm; let index = $index) {
     <tr (click)="selectRow(rm.usuario.id)" [class.is-selected]="isSelected(rm.usuario.id)"
     [attr.data-ci]="rm.usuario.ci" [attr.data-nombre]="rm.usuario.nombre">
       <td>{{index +1}}</td>
        <td>
          <div class="hitem" style="justify-content: space-between">
            <span>{{rm.usuario.nombre}}</span>
            @if(rm.mensajeError) {
            <div class="dropdown is-up is-hoverable">
              <div class="dropdown-trigger">
                <span class="has-text-danger-70"><i class="fas fa-exclamation-circle" ></i></span>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content popup">
                  <div class='cabecera'>¡Alerta!</div>
                  <div class="contenido" style='color: #786450;'>{{rm.mensajeError}}</div>
                </div>
              </div>
            </div>
            }
         </div>
        </td>
        <td>{{rm.usuario.ci}}</td>
        <td style="position: relative;">
          {{formatear(rm.usuario.fechaAlta)}}
          @if(rm.usuario.fechaBaja) {
          <span class="badge is-bottom mb-1" style="background-color: {{getColor('Rojo')}}; color: black">Baja {{formatear(rm.usuario.fechaBaja)}}</span>
          }
        </td>
        <td>
          <div class="hitem" style="justify-content: space-between">
            <span>{{rm.diasComputados}}</span>
            @if(rm.sinAsignar) {
            <div class="dropdown is-up is-hoverable">
              <div class="dropdown-trigger">
                <span><i class="far fa-question-circle" style="color: #5cc5fd"></i></span>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content popup">
                  <div class='cabecera'>Información</div>
                  <div class="contenido" style='color: #786450;'>
                    <div class="hitem">
                      <span class="semibold">Jornadas sin asignación de horario:</span>
                      <span style="align-self: center;">{{rm.sinAsignar}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
        </td>
        @if(rm.totalMinRetrasos > 0) {
        <td>
          <div class="hitem" style="justify-content: space-between">
            <span>{{rm.totalMinRetrasos}}</span>
            <div class="dropdown is-up is-hoverable">
              <div class="dropdown-trigger">
                <span><i class="far fa-caret-square-up" style="color: #888; background-color: {{getColor('Amarillo')}}"></i></span>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content popup">
                  <div class='cabecera'>Fechas con Retraso</div>
                  <div class="contenido scroll-y" style='color: #786450;' [innerHtml]="getRetrasos(rm.infoMarcaciones)"></div>
                </div>
              </div>
            </div>
          </div>
        </td>
        } @else {
        <td>{{rm.totalMinRetrasos}}</td>
        }
        @if(rm.totalSinMarcar > 0) {
        <td>
          <div class="hitem" style="justify-content: space-between">
            <span>{{rm.totalSinMarcar}}</span>
            <div class="dropdown is-up is-hoverable">
              <div class="dropdown-trigger">
                <span><i class="far fa-caret-square-up" style="color: #888; background-color: {{getColor('Rojo')}}"></i></span>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content popup">
                  <div class='cabecera'>Fechas sin Marcar</div>
                  <div class="contenido scroll-y" style='color: #786450;' [innerHtml]="getSinMarcar(rm.infoMarcaciones)"></div>
                </div>
              </div>
            </div>
          </div>
        </td>
        } @else {
        <td>{{rm.totalSinMarcar}}</td>
        }
        @if(rm.totalSalAntes > 0) {
        <td>
          <div class="hitem" style="justify-content: space-between">
            <span>{{rm.totalSalAntes}}</span>
            <div class="dropdown is-up is-hoverable">
              <div class="dropdown-trigger">
                <span><i class="far fa-caret-square-up" style="color: #888; background-color: {{getColor('Rojo')}}"></i></span>
              </div>
              <div class="dropdown-menu" role="menu">
               <div class="dropdown-content popup">
                 <div class='cabecera'>Salidas Anticipadas</div>
                 <div class="contenido scroll-y" style='color: #786450;' [innerHtml]="getSalAntes(rm.infoMarcaciones)"></div>
               </div>
              </div>
            </div>
          </div>
        </td>
        } @else {
        <td>{{rm.totalSalAntes}}</td>
        }
        @if(rm.totalAusencias > 0) {
        <td>
          <div class="hitem" style="justify-content: space-between">
            <span>{{rm.totalAusencias}}</span>
            <div class="dropdown is-up is-hoverable">
              <div class="dropdown-trigger">
                <span><i class="far fa-caret-square-up has-text-danger"></i></span>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content popup">
                  <div class='cabecera'>Fechas con Falta</div>
                  <div class="contenido scroll-y" style='color: #786450;' [innerHtml]="getAusencias(rm.infoMarcaciones)"></div>
                  <a class='dropdown-item is-disabled'>Última marcación: 28/05/2025</a>
                </div>
              </div>
            </div>
          </div>
        </td>
        } @else {
        <td>{{rm.totalAusencias}}</td>
        }
        <td class="hidden-print" >
          <div class="hitem">
            <span class="icon has-tooltip-arrow expand" data-tooltip="Ver Marcaciones" (click)="verMarcaciones(rm.usuario)">
              <i class="far fa-calendar-check icon-btn"></i>
            </span>
            <span class="icon has-tooltip-arrow expand" data-tooltip="Editar Funcionario" (click)="modalEditarUsuario(rm.usuario.id)">
              <i class="far fa-edit icon-btn"></i>
            </span>
            <span class="icon has-tooltip-arrow expand" data-tooltip="Cambiar Horario" (click)="modalCambiarHorario(rm.usuario)">
              <i class="fas fa-user-clock icon-btn"></i>
            </span>
            <div class="dropdown is-hoverable is-custom-right">
              <div class="dropdown-trigger">
                <span class="icon"><i class="fas fa-ellipsis-v icon-btn"></i></span>
              </div>
              <div class="dropdown-menu" id="" role="menu">
                <div class="dropdown-content">
                    <a class="dropdown-item" (click)="modalVerHorario(rm.usuario.id)" >
                      <span class="icon" >
                        <i class="far fa-calendar-alt menu-btn"></i>
                      </span>
                      Ver Horario
                    </a>
                    <a class="dropdown-item" (click)="actualizarResumenMarcaciones(rm.usuario)" >
                      <span class="icon" >
                        <i class="fas fa-redo-alt menu-btn"></i>
                      </span>
                      Recargar
                    </a>
                    <a class="dropdown-item" (click)="mostrarOcultar(rm)" >
                      <span class="icon" >
                        <i class="fas fa-eye-slash menu-btn"></i>
                      </span>
                      Ocultar Registro
                    </a>
                </div>
              </div>
            </div>
          </div>
        </td>
     </tr>
     }
     </tbody>
   </table>
   <div class="vitem sticker" *ngIf="showScrollButton" style="gap: 3px;">
     <button title="Subir" class="scroll-to-top" (click)="scrollToTop()">
       <span class="icon is-right"><i class="fas fa-arrow-up"></i></span>
     </button>
   </div>
 </div>
  <div class="modal " id="ocultar_modal">
    <div class="modal-background" id="fondo_ocultar" style="opacity: 0.75;"></div>
    <div class="modal-card" style="width: 400px">
      <header class="modal-card-head">
        <p class="modal-card-title">Ocultar Registro</p>
        <button class="delete" aria-label="close" (click) = "cerrarOcultar()"></button>
      </header>
      <section class="modal-card-body">
        <label class="label">¿Quieres ocultar el registro?</label>
        <span>Solo se oculta el registro de este reporte</span>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button id="btn_eliminar" class="button es-primario" (click)="ocultarRegistro()">Aceptar</button>
          <button class="button" type="button" (click) = "cerrarOcultar()">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
</div>
