<div class="box" style="height: 100%;">
  <div class="hitem mb-4">
    <span (click)="irAtras()" class="icon button mt-1"><i class="fas fa-arrow-left"></i></span>
    <div class="title">
      <h1>Reporte General</h1>
    </div>
  </div>
 <div class="animate__animated animate__fadeIn" style="width: fit-content;">
   <div class="hbox">
     <div class="hitem" style="background-color: {{getColor('Amarillo')}}; padding: 10px; border-radius: 10px; gap: 30px;">
       <div class="vinput">
         <div class="icon-text">
        <span class="icon has-text-success hast" style="font-size: 1.2em">
          <i class="far fa-calendar-alt"></i>
        </span>
           <span class="label">Rango de Fechas</span>
         </div>
         <p class="block has-text-centered">14/05/2025 - 25/06/2025</p>
       </div>
       <div class="vinput">
         <div class="icon-text">
        <span class="icon has-text-danger">
        <i class="fas fa-sort-numeric-up" style="font-size: 1.2em"></i>
        </span>
           <span class="label">Total Días</span>
         </div>
         <p class="block has-text-centered">
           31
         </p>
       </div>
     </div>
     <div class="hitem" style="align-self: flex-end; margin-left: auto">
       <button class="button"><span class="icon" (click)="exportexcel()">
          <i class="fas fa-file-excel" style="color: rgb(16, 129, 16);"></i></span>
       </button>
     </div>
   </div>

   <table class="table is-bordered is-hoverable" id="tabla_reporte">
     <tr>
       <th>#</th>
       <th style="width: 265px;">Nombre</th>
       <th style="width: 95px;">CI</th>
       <th>
         <div class="vinput has-text-centered">
           <span>Retraso</span>
           <span>[min]</span>
         </div>
       </th>
       <th>
         <div class="vinput has-text-centered">
           <span>Sin</span>
           <span>Marcar</span>
         </div>
       </th>
       <th>Faltas</th>
       <th></th>
     </tr>
     <tbody>
     @for (reporte of reportes; track reporte; let index = $index) {
     <tr>
       <td>{{index +1}}</td>
        <td>
          <div class="hitem" style="justify-content: space-between">
            <span>{{reporte.usuario.nombre}}</span>
            <div class="dropdown is-up is-hoverable">
              <div class="dropdown-trigger">
                 <span><i class="far fa-question-circle has-text-info"></i></span>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content popup">
                  <div class="cabecera">Más Detalles</div>
                  <div class="hitem" style="color: #786450;">
                    <span style="font-weight: 600;">Fecha de Alta: </span>
                    <span>{{ formatear(reporte.usuario.fechaAlta) }}</span>
                  </div>
                </div>
              </div>
            </div>
         </div>
        </td>
        <td>{{reporte.usuario.ci}}</td>
        @if(reporte.totalMinRetrasos > 0) {
     <td>
       <div class="hitem" style="justify-content: space-between">
         <span>{{reporte.totalMinRetrasos}}</span>
         <div class="dropdown is-up is-hoverable">
           <div class="dropdown-trigger">
             <span><i class="far fa-caret-square-up" style="color: #888; background-color: {{getColor('Amarillo')}}"></i></span>
           </div>
           <div class="dropdown-menu" role="menu">
             <div class="dropdown-content popup">
               <div class='cabecera'>Fechas con Retraso</div>
               <div class="contenido" style='color: #786450;' [innerHtml]="getRetrasos(reporte.infoMarcaciones)">
               </div>
             </div>
           </div>
         </div>
       </div>
     </td>
     } @else {
     <td>{{reporte.totalMinRetrasos}}</td>
     }
     @if(reporte.totalSinMarcar > 0) {
     <td>
       <div class="hitem" style="justify-content: space-between">
         <span>{{reporte.totalSinMarcar}}</span>
         <div class="dropdown is-up is-hoverable">
           <div class="dropdown-trigger">
             <span><i class="far fa-caret-square-up" style="color: #888; background-color: {{getColor('Rojo')}}"></i></span>
           </div>
           <div class="dropdown-menu" role="menu">
             <div class="dropdown-content popup">
               <div class='cabecera'>Fechas sin Marcar</div>
               <div class="contenido" style='color: #786450;' [innerHtml]="getSinMarcar(reporte.infoMarcaciones)">
               </div>
             </div>
           </div>
         </div>
       </div>
     </td>
     } @else {
     <td>{{reporte.totalSinMarcar}}</td>
     }
     @if(reporte.totalAusencias > 0) {
     <td>
       <div class="hitem" style="justify-content: space-between">
         <span>{{reporte.totalAusencias}}</span>
         <div class="dropdown is-up is-hoverable">
           <div class="dropdown-trigger">
             <span><i class="far fa-caret-square-up has-text-danger"></i></span>
           </div>
           <div class="dropdown-menu" role="menu">
             <div class="dropdown-content popup">
               <div class='cabecera'>Fechas con Falta</div>
               <div class="contenido" style='color: #786450;' [innerHtml]="getAusencias(reporte.infoMarcaciones)">
               </div>
             </div>
           </div>
         </div>
       </div>
     </td>
     } @else {
     <td>{{reporte.totalAusencias}}</td>
     }
     <td>
      <div class="hitem">
        <span class="icon has-tooltip-arrow" data-tooltip="Ver Marcaciones" routerLink="/ver-marcaciones/{{reporte.usuario.id}}">
          <i class="far fa-calendar-check icon-btn"></i>
        </span>
      </div>
     </td>
     </tr>
     }
     </tbody>
   </table>
 </div>
</div>
